body {
  background-color: #1F4457;

  font-family: tahoma;
}

#title {
  margin: 0;
  padding: 1em;
  padding-bottom: 0.1em;

  font-family: optimus;
  font-size: 8em;

  color: #F0F0F0;

  text-align: center;
}

#form {
  padding: 1em;

  background-color: white;
  border-radius: 0.5em;

  font-size: 2em;
}

#form #graphn {
  margin-top: 0.5em;
  height: 2em;

  font-size: 1em;
  text-align: center;
}

#form input[type=submit] {
  font-size: 1em;
  background-color: #1F4457;
}
#form input[type=submit]:hover {
  background-color: #037691;
}

.graph-upload {
  margin: 0.5em 0;
}