<!-- import url-specific style -->
<style type="text/css">@import "/public_html/SOGIv020/user_side/src/common/css/uploader.css";</style>

<!-- url-specific template -->
<div id='uploader' class='col-md-8 col-md-offset-2' ng-app='sogi' ng-controller='uploaderController as uCtrl' ng-model='uCtrl'>

	<div class="title col-md-12">
		<p>SOGI</p>
		<small>Simple Online Graph Interface</small>
	</div>

	<div class="uploader-panel panel panel-primary col-md-12">

		<div class="panel-heading">Uploader</div>
		<div class="panel-body">

			<p>Please, upload your <code>.graphml</code> files to start a new session!</p>
			<p>If your files are particularly <span class='big'>BIG</span> please, use an <code>sshfs</code> or <code>scp</code> connection instead of this uploader.<sup>1</sup></p>

			<div class="uploader-wrap col-md-12">

				<div class="uploader-btn-wrap col-md-4">
					<button class="btn btn-primary btn-block" ng-click='uploader.addFile()' ng-class="{'disabled' : uploader.ing}">Select file</button>
					<button class="btn btn-warning btn-block" ng-click='uploader.check_list(2000)' ng-class="{'disabled' : uploader.ing}">Check file(s)</button>
					<button class="btn btn-success btn-block" submit-form='#hidden-form' ng-class="{'disabled' : uploader.ing}">Upload file(s)</button>
					<a href='#/interface/{{m.session_id}}' class="btn btn-danger btn-block" ng-click='uploader.abort()' ng-class="{'disabled' : uploader.ing}">Abort</a>
				</div>

				<div class="uploader-list-wrap col-md-8">
					<div class='alert alert-info' ng-repeat="file in uploader.files">
						{{file.data[0].name}}
						<a href="" class="file-alert-rm-btn" ng-click="uploader.rmFile(file.id)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<div class='alert alert-danger' ng-repeat="file in uploader.files.rm">
						{{file.data[0].name}}
					</div>
				</div>

				<form id='hidden-form' ng-submit="uploader.upload()">
					<input type="file" ng-repeat="file in uploader.files" uploader-autoclick="{{file.id}}">
				</form>

			</div>

		</div>
	</div>

	<small><sup>1</sup> you can upload your files manually at the address <span style='font-family: Monospace;'>/server_side/session/{{m.session_id}}/</span></small>

</div>
