#homepage .title {
	margin-bottom: 0.5em;
	margin-top: 0.5em;

	color: #F24C27;

	font-family: optimus;
	font-size: 6em;
	line-height: 0.5em;
	text-align: center;
}

#homepage .title span {
	display: block;
	width: 100%;
}

#homepage .title small {
	display: block;
	width: 100%;

	color: #767676;

	font-size: 0.3em;
}

#homepage .session-choice,
#homepage .selected-form {
	padding: 0;
}

#homepage .session-choice .panel-heading,
#homepage .selected-form .panel-heading {
	text-align: center;
}

#homepage .session-choice .cell {
	height: 4em;
	width: 100%;
}

#homepage .selected-form .btn {
	height: 2em;
}

#homepage .form-control {
	height: 2em !important;
	font-size: 1em !important;
}

#homepage .selected-form .note {
	color: #989898;
}

#userpage .panel-left {
	height: 190px;
}