#homepage .title {
	margin-bottom: 0.5em;
	margin-top: 0.5em;

	color: #F24C27;

	font-family: optimus;
	font-size: 6em;
	line-height: 0.5em;
	text-align: center;
}

#homepage .title span {
	display: block;
	width: 100%;
}

#homepage .title small {
	display: block;
	width: 100%;

	color: #767676;

	font-size: 0.3em;
}

#homepage .session-choice,
#homepage .selected-form {
	padding: 0;
}

#homepage .session-choice .panel-heading,
#homepage .selected-form .panel-heading {
	text-align: center;
}

#homepage .session-choice .cell {
	height: 4em;
	width: 100%;
}

#homepage .selected-form .btn {
	height: 2em;
}

#homepage .form-control {
	height: 2em !important;
	font-size: 1em !important;
}

#homepage .selected-form .note {
	color: #989898;
}

#userpage .panel-list {
	height: 255px;
}

#userpage .panel-list .panel-body {
	margin-top: 5px;
	padding: 0;

	height: 195px;

	overflow: auto;
}

#userpage .panel-list .list-group {
	margin: 0;
}

#userpage .panel-list .list-group-item:first-child {
	border-top: none;
}

#userpage .panel-list .list-group-item {
	border-bottom: none;
	border-right: none;
	border-left: none;
}

#userpage .panel-list .list-group-item a {
	display: inline-block;
	width: 100%;
	color: rgb(100,100,100);
}
#userpage .panel-list .list-group-item a:hover { text-decoration: none; }
#userpage .panel-list.panel-reddish .list-group-item a:hover { color: rgb(212,71,44); }
#userpage .panel-list.panel-sky .list-group-item a:hover { color: rgb(88, 176, 235); }

#userpage .panel-list .list-group-item a .glyphicon {
	margin-right: 5px;
	font-size: 16px;
}

