
body,
html {
	background-color: #f0f0f0;
}

/* LEFT BAR */

#interface #left-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;

	width: 60px;

	margin: 0;
	padding: 0;

	background-color: #212121;
	border-right: 1px solid #ababab;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 5;
}

#interface #left-bar .title {
	display: block;

	width: 80%;

	margin: 0 auto;
	padding: 0.2em 0 0 0;

	color: #F24C27;
	border-bottom: 1px solid #878787;

	font-family: optimus;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

#interface #left-bar .btn-circle {
	display: block;

	height: 40px;
	width: 40px;

	margin: 10px;
	padding: 0;

	border-radius: 20px;

	font-size: 1em;
	font-weight: normal;
	line-height: 40px;
	text-align: center;
	vertical-align: center;
}

#interface #left-bar .btn-circle.open {
	border: 1px solid #f0f0f0;
}

#interface #left-bar .btn-circle span {
	position: static;
	display: inline-block;

	height: 38px;
	width: 38px;

	margin: 0;
	padding: 0;

	line-height: 38px;
	text-align: center;
	vertical-align: center;
}

#interface .left-panel {
	display: block !important;

	position: fixed;
	bottom: 0;
	left: 60px;
	top: 0;

	margin: 0;

	width: 400px;

	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 0;

	z-index: 1;
}

#interface .left-panel {
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

#interface .left-panel.ng-hide {
	left: -340px;
	opacity: 1;
}

#interface .left-panel .panel-heading {
	border-radius: 0;
}

/* BOTTOM BAR */

#interface #bottom-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 60px;

	height: 30px;

	margin: 0;
	padding: 0;
}

#interface #console {
	height: 31px;
	width: 800px;

	margin: 0;
	padding: 0;

	border-style: solid;
	border-color: #ababab;
	border-width: 1px 1px 0 0;

	vertical-align: top;
}

#interface #console .terminal {
	display: inline-block;

	height: 30px;
	width: 769px;

	margin: 0;
	padding: 0;
	padding-left: 0.5em;

	border: none;

	font-family: Monospace;
	vertical-align: top;
}

#interface #console .btn {
	display: inline-block;

	height: 30px;
	width: 30px;

	margin: 0;
	padding: 0;

	border: none;
	border-radius: 0;

	vertical-align: top;
}

/* CANVAS */

#interface #canvas {
	position: fixed;
	right: 0;
	bottom: 30px;
	left: 60px;
	top: 0px;
}
