
body,
html {
	background-color: #f0f0f0;
}

/* LEFT BAR */

#interface #left-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;

	width: 60px;

	margin: 0;
	padding: 0;

	background-color: #212121;
	border-right: 1px solid #ababab;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 5;
}

#interface #left-bar .title {
	display: block;

	width: 80%;

	margin: 0 auto;
	padding: 0.2em 0 0 0;

	color: #F24C27;
	border-bottom: 1px solid #878787;

	font-family: optimus;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

#interface #left-bar .btn-circle {
	display: block;

	height: 40px;
	width: 40px;

	margin: 10px;
	padding: 0;

	border-radius: 20px;

	font-size: 1em;
	font-weight: normal;
	line-height: 40px;
	text-align: center;
	vertical-align: center;
}

#interface #left-bar .btn-circle.open {
	border: 1px solid #f0f0f0;
}

#interface #left-bar .btn-circle span {
	position: static;
	display: inline-block;

	height: 38px;
	width: 38px;

	margin: 0;
	padding: 0;

	line-height: 38px;
	text-align: center;
	vertical-align: center;
}

#interface .left-panel {
	display: block !important;

	position: fixed;
	bottom: 0;
	left: 60px;
	top: 0;

	margin: 0;

	width: 400px;

	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 0;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 2;

	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

#interface .left-panel.ng-hide {
	left: -340px;
	opacity: 1;
}

#interface .left-panel .panel-heading {
	border-radius: 0;

	font-weight: bold;
	font-family: tahoma;
}

#interface .left-panel .panel-heading a {
	text-decoration: none;
}

#interface .left-panel.panel-primary .panel-heading a {
	color: #ffffff;
}

#interface .left-panel.panel-primary .panel-heading a:hover {
	color: rgba(40, 91, 135, 1);
}

/* PANEL-SPECIFIC */

/* graph list */

#interface .left-panel.attributes-panel .btn-panel,
#interface .left-panel.graph-list-panel .btn-panel,
#interface .left-panel.attributes-panel .attr-action,
#interface .left-panel.graph-list-panel .net-action {
	margin-left: 8px;
}

#interface .left-panel.graph-list-panel .load-network-link {
	display: inline-block;
	
	width: 225px;
}

#interface .left-panel.graph-list-panel .btn-convert_many {
	float: right;
	font-variant: small-caps;
}

/* operations */

#interface .left-panel.operations-panel .operation-btn,
#interface .left-panel.operations-panel .operation-panel {
	display: block;
	margin: 4px auto;
}

#interface .left-panel.operations-panel .operation-panel .end-btn {
	float: right;
	
	margin-left: 4px;

	font-variant: small-caps;
}

#interface .left-panel.operations-panel .operation-panel .single-network-select {
	display: block;
}

/* attributes */

#interface .left-panel.attributes-panel .operation-btn {
	margin: 4px auto;
}

#interface .left-panel.attributes-panel .attr-list {
	display: block;
}

#interface .left-panel.attributes-panel hr {
	margin-bottom: 1em;
	margin-top: 1em;
	
	border-color: #989898;
	border-style: dotted;
	border-width: -1px;
}

#interface .left-panel.attributes-panel .abort-btn {
	float: right;

	margin: 4px 2px;
	
	font-variant: small-caps;
}

#interface .left-panel.attributes-panel .footnote {
	float: left;

	margin-top: 1em;
	padding: 0 4px;

	font-size: 0.8em;
}

/* layout */

#interface .left-panel.layout-panel {
	width: 72px;

	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

#interface .left-panel.layout-panel.ng-hide {
	left: -12px;
	opacity: 1;
}

#interface .left-panel.layout-panel .btn {
	margin: 2px 0;
}

/* settings */

#interface .left-panel.settings-panel hr {
	margin-bottom: 3em;
	margin-top: 1em;
	
	border-color: #989898;
	border-style: dotted;
	border-width: -1px;
}

#interface .left-panel.settings-panel .btn-apply {
	float: right;

	font-variant: small-caps;
}

/* BOTTOM BAR */

#interface #bottom-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 60px;

	height: 0;

	margin: 0;
	padding: 0;

	z-index: 1;
}

#interface #bottom-bar .wrap {
	margin: 0;
	padding: 0;
}

#interface #console {
	position: relative;
	top: -30px;

	height: 31px;

	margin: 0;
	padding: 0;

	border-style: solid;
	border-color: #ababab;
	border-width: 1px 1px 0 0;

	vertical-align: top;

	z-index: 0;
}

#interface #console .terminal {
	display: inline-block;

	height: 30px;
	width: 90%;

	margin: 0;
	padding: 0;
	padding-left: 0.5em;

	border: none;

	font-family: Monospace;
	vertical-align: top;
}

#interface #console .btn {
	display: inline-block;

	height: 30px;
	width: 10%;

	margin: 0;
	padding: 0;

	border: none;
	border-radius: 0;

	vertical-align: top;
}

#interface #inspector {
	display: block !important;

	position: relative;
	top: -380px;

	height: 380px;
	
	padding: 0;
	
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-style: solid;
	border-width: 1px 1px 0 1px;

	z-index: 1;

	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

#interface #inspector.ng-hide {
	top: 0px;
}

#interface #inspector .panel-body {
	height: 340px;

	overflow: auto;
}

#interface #inspector .panel-body p+ul {
	margin-top: -0.75em;
}

/* CANVAS */

#interface #canvas {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 60px;
	top: 0;
}
