@font-face {
	font-family: optimus;
	src: url('../fonts/optimus.ttf');
}

#interface #left-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;

	width: 60px;

	margin: 0;
	padding: 0;

	background-color: #212121;
	border-right: 1px solid #ababab;

	overflow-x: hidden;
	overflow-y: auto;
}

#interface #left-bar .title {
	display: block;

	width: 80%;

	margin: 0 auto;
	padding: 0.2em 0 0 0;

	color: #F24C27;
	border-bottom: 1px solid #878787;

	font-family: optimus;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

#interface #left-bar .btn-circle {
	display: block;

	height: 40px;
	width: 40px;

	margin: 10px;
	padding: 0;

	border-radius: 50px;

	font-size: 1em;
	font-weight: normal;
	line-height: 40px;
	text-align: center;
	vertical-align: center;
}

#interface #left-bar .btn-circle span {
	position: static;
	display: inline-block;

	height: 38px;
	width: 38px;

	margin: 0;
	padding: 0;

	line-height: 38px;
	text-align: center;
	vertical-align: center;
}

#interface #bottom-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 60px;

	height: 30px;

	margin: 0;
	padding: 0;
}

#interface #console {
	height: 31px;
	width: 800px;

	margin: 0;
	padding: 0;

	border-style: solid;
	border-color: #ababab;
	border-width: 1px 1px 0 0;

	vertical-align: top;
}

#interface #console .terminal {
	display: inline-block;

	height: 30px;
	width: 769px;

	margin: 0;
	padding: 0;
	padding-left: 0.5em;

	border: none;

	font-family: Monospace;
	vertical-align: top;
}

#interface #console .btn {
	display: inline-block;

	height: 30px;
	width: 30px;

	margin: 0;
	padding: 0;

	border: none;
	border-radius: 0;

	vertical-align: top;
}

#interface #canvas {
	position: fixed;
	right: 0;
	bottom: 50px;
	left: 60px;
	top: 0px;

	background-color: #fefefe;
}
