@font-face {
	font-family: optimus;
	src: url('../fonts/optimus.ttf');
}

html,
body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: #fefefe;
}

.float-right {
	float: right;
}

.hidden-file-input {
	display: none !important;
}

.small-caps {
	font-variant: small-caps;
}

.bold {
	font-weight: bold;
}

.text-align-left {
	text-align: left !important;
}

.text-align-center {
	text-align: center !important;
}

.text-align-right {
	text-align: right !important;
}