@font-face {
	font-family: optimus;
	src: url('../fonts/optimus.ttf');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format('woff2'), url(https://fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format('woff');
}

html,
body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: #fefefe;
	
	font-family: "Karla", sans-serif;
	font-size: 20px;
}

.float-right {
	float: right;
	margin-right: 3px;
}

.hidden-file-input {
	display: none !important;
}

.small-caps {
	font-variant: small-caps;
}

.bold {
	font-weight: bold;
}

.text-align-left {
	text-align: left !important;
}

.text-align-center {
	text-align: center !important;
}

.text-align-right {
	text-align: right !important;
}

.mbot05 {
	margin-bottom: 0.5em;
}

.mrig07 {
	margin-right: 0.7em;
}

/** buttons **/

.btn {
	border-radius: 6px;
	font-size: 24px;
}

.btn-aqua {
	background-color: rgb(16, 156, 126);
	color: white;
	border: 1px solid rgb(13, 135, 110);
	border-bottom-width: 4px;
}

.btn-light-aqua {
	background-color: rgb(100, 201, 155);
	color: white;
	border: 1px solid rgb(87, 181, 138);
	border-bottom-width: 4px;
}

.btn-reddish {
	background-color: rgb(232, 78, 48);
	color: white;
	border: 1px solid rgb(212, 71, 44);
	border-bottom-width: 4px;
}

.btn:hover {
	color: white;
	border-bottom-width: 1px;
}