
@font-face {
	font-family: optimus;
	src: url('../fonts/optimus.ttf');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
  	url('../fonts/karla.woff2') format('woff2'),
  	url('../fonts/karla.woff') format('woff');
}

html,
body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: #fefefe;
	
	font-family: "Karla", sans-serif;
	font-size: 20px;
}

.col0 { color: #000000; }
.col65 { color: #656565; }

.float-right {
	float: right;
	margin-right: 3px;
}

.hidden-file-input {
	display: none !important;
}

.small-caps {
	font-variant: small-caps;
}

.bold {
	font-weight: bold;
}

.text-align-left {
	text-align: left !important;
}

.text-align-center {
	text-align: center !important;
}

.text-align-right {
	text-align: right !important;
}

.font-size-24px {
	font-size: 24px !important;
}

.mbot0 { margin-bottom: 0em !important; }
.mbot02 { margin-bottom: 0.2em !important; }
.mbot05 { margin-bottom: 0.5em !important; }
.mrig0 { margin-right: 0em !important; }
.mrig02 { margin-right: 0.2em !important; }
.mrig05 { margin-right: 0.5em !important; }
.mrig07 { margin-right: 0.7em !important; }
.mlef0 { margin-left: 0em !important; }
.mlef02 { margin-left: 0.2em !important; }
.mlef05 { margin-left: 0.5em !important; }
.mlef07 { margin-left: 0.7em !important; }

.prig0 { padding-right: 0 !important; }
.prig02 { padding-right: 0.2em !important; }
.prig05 { padding-right: 0.5em !important; }
.plef0 { padding-left: 0 !important; }
.plef02 { padding-left: 0.2em !important; }
.plef05 { padding-left: 0.5em !important; }
.pori0 {
	padding-left: 0;
	padding-right: 0;
}

.h2-5em { height: 2.5em !important; }
.h3em { height: 3em !important; }

.fs1em { font-size: 1em !important; }
.fs1-5em { font-size: 1.5em !important; }

.all-width {
	width: 100%;
}

.all-dimensions {
	height: 100%;
	width: 100%;
}

/** buttons **/

.btn {
	border-radius: 6px;
	font-size: 24px;
}

.btn-aqua {
	background-color: rgb(16, 156, 126);
	color: white;
	border: 1px solid rgb(13, 135, 110);
	border-bottom-width: 4px;
}

.btn-light-aqua {
	background-color: rgb(100, 201, 155);
	color: white;
	border: 1px solid rgb(87, 181, 138);
	border-bottom-width: 4px;
}

.btn-reddish {
	background-color: rgb(232, 78, 48);
	color: white;
	border: 1px solid rgb(212, 71, 44);
	border-bottom-width: 4px;
}

.btn-sky {
	background-color: rgb(115, 195, 240);
	color: white;
	border: 1px solid rgb(88, 176, 235);
	border-bottom-width: 4px;
}

.btn-gold {
	background-color: rgb(255,184,95);
	color: white;
	border: 1px solid rgb(255,158,82);
	border-bottom-width: 4px;
}

.btn-gray {
	background-color: #cacaca;
	color: white;
	border: 1px solid #bababa;
	border-bottom-width: 4px;
}

.btn:hover {
	color: white;
	border-bottom-width: 1px;
}

/** panels **/

.panel-aqua { border-color: rgb(16, 156, 126); }
.panel-aqua .panel-heading {
	background-color: rgb(16, 156, 126);
	color: white;
}
.panel-aqua .panel-body,
.panel-aqua .panel-body p,
.panel-aqua .panel-body h2 {
	color: rgb(87, 181, 138);
}
.panel-aqua .panel-heading a { color: white; }
.panel-aqua .panel-heading a:hover { color: rgb(127,255,197); }

.panel-sky { border-color: rgb(98, 181, 227); }
.panel-sky .panel-heading {
	background-color: rgb(115, 195, 240);
	color: white;
}
.panel-sky .panel-body,
.panel-sky .panel-body p,
.panel-sky .panel-body h2 {
	color: rgb(88, 176, 235);
}

.panel-light-aqua { border-color: rgb(87, 181, 138); }
.panel-light-aqua .panel-heading {
	background-color: rgb(100, 201, 155);
	color: white;
}
.panel-light-aqua,
.panel-light-aqua p,
.panel-light-aqua h2 {
	color: rgb(87, 181, 138);
}


.panel-reddish { border-color: rgb(212, 71, 44); }
.panel-reddish .panel-heading {
	background-color: rgb(232, 78, 48);
	color: white;
}
.panel-reddish,
.panel-reddish p,
.panel-reddish h2 {
	color: rgb(232, 78, 48);
}

.panel-gold { border-color: rgb(255,158,82); }
.panel-gold .panel-heading {
	background-color: rgb(255,184,95);
	color: white;
}
.panel-gold,
.panel-gold p,
.panel-gold h2 {
	color: rgb(255,184,95);
}

.panel-gray { border-color: #bababa; }
.panel-gray .panel-heading {
	background-color: #999999;
	color: white;
}
.panel-gray,
.panel-gray p,
.panel-gray h2 {
	color: #323232;
}

.panel-light { border-color: #dadada; }
.panel-light > .panel-heading { color: #989898; }

/** ACCORDION **/

.accordion-tema {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.accordion-tema .accordion-head {
	display: block;
	margin: 0;
	padding: 15px;
	width: 100%;
	
	border-top: 1px solid white;
	
	color: white;
	font-size: 1.2em;
	font-weight: normal;
}

.accordion-tema .accordion-head:hover {
	text-decoration: none;
}

.accordion-tema .accordion-body {
	display: block;
	margin: 0;
	padding: 1em 0.5em;
	width: 100%;
}

.accordion-tema-aqua .accordion-head { background-color: rgb(11, 107, 87); }
.accordion-tema-aqua .accordion-head:hover { background-color: rgb(16, 156, 126); }
.accordion-tema-aqua .accordion-body { border-bottom: 1px solid rgb(16, 156, 126); }

.accordion-tema-light-aqua .accordion-head { background-color: rgb(88, 176, 136); }
.accordion-tema-light-aqua .accordion-head:hover { background-color: rgb(100, 201, 155); }
.accordion-tema-light-aqua .body { border-bottom: 1px solid rgb(100, 201, 155); }

.accordion-tema-sky .accordion-head { background-color: rgb(108, 182, 224); }
.accordion-tema-sky .accordion-head:hover { background-color: rgb(115, 195, 240); }
.accordion-tema-sky .accordion-body { border-bottom: 1px solid rgb(115, 195, 240); }

.accordion-tema-reddish .accordion-head { background-color: rgb(194, 65, 40); }
.accordion-tema-reddish .accordion-head:hover { background-color: rgb(232, 78, 48); }
.accordion-tema-reddish .accordion-body { border-bottom: 1px solid rgb(232, 78, 48); }

.accordion-tema-gold .accordion-head { background-color: rgb(217, 156, 81); }
.accordion-tema-gold .accordion-head:hover { background-color: rgb(255,184,95); }
.accordion-tema-gold .accordion-body { border-bottom: 1px solid rgb(255,184,95); }

.accordion-tema-gray .accordion-head { background-color: #bababa; }
.accordion-tema-gray .accordion-head:hover { background-color: #cacaca; }
.accordion-tema-gray .accordion-body { border-bottom: 1px solid #cacaca; }

.accordion-body {
	display: block !important;
	height: 200px;

	opacity: 1;

	overflow: hidden;

	-webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.accordion-body.ng-hide {
	height: 0;

	padding-top: 0;
	padding-bottom: 0;

	opacity: 0;
}
