#uploader .title {
	margin-bottom: 0.5em;
	margin-top: 0.5em;

	color: #F24C27;

	font-family: optimus;
	font-size: 6em;
	line-height: 0.5em;
	text-align: center;
}

#uploader .title span {
	display: block;
	width: 100%;
}

#uploader .title small {
	display: block;
	width: 100%;

	color: #767676;

	font-size: 0.3em;
}

#uploader .uploader-panel {
	padding: 0;
}

#uploader .uploader-panel .panel-heading {
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
}

#uploader .uploader-panel .big {
	font-size: 1.5em;
	font-weight: bold;
}

#uploader .uploader-wrap {
	margin-top: 1em;
	padding-top: 1.5em;

	border-top: 1px solid #428BCA;
}

#uploader .uploader-btn-wrap .btn {
	font-variant: small-caps;
}