div {
	color: white;
}

#left-side {
	padding: 0;

	height: 100%;

	background-color: red;
}

#right-side {
	height: 100%;
	padding: 0;
}

#canvas {
	height: 75%;
	min-height: 500px;

	background-color: #f0f0f0;
}

#canvas #cy {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#bottom-side {
	padding: 0;

	height: 25%;
	min-height: 180px;

	background-color: blue;
}

#bottom-side #console {
	height: 100%;

	background: black;
}

#bottom-side #inspector {
	height: 100%;

	background-color: lightgray;
}