<!-- url-specific template -->
<div id='userpage' class='col-md-8 col-md-offset-2' ng-app='tea' ng-controller='userpageController as upCtrl' ng-model='upCtrl'>

	<div class="title col-md-12">
		<p>TEMA</p>
		<small>Tumor Evolution Manager and Analyzer</small>
	</div>

	<!-- user-panel -->
	<div class="session-choice panel panel-light col-md-12" ng-if="!out.isSigning()&&!create.isDoing()">
		<div class="panel-heading">
			You are logged in as <u>{{m.logsys.logged.usr}}</u>
			<a href="" class="float-right mrigh02" ng-click="panels.reload()" title="Reload lists"><span class="glyphicon glyphicon-refresh"></span></a>
		</div>
		<div class="panel-body">

			<div class="col-md-6 col-md-push-6 pori0 mbot0 plef05">
				<div class="col-md-12 pori0"><button class="all-width mbot02 h2-5em btn btn-aqua small-caps" ng-click="out.sign()">logout</button></div>
				<div class="col-md-12 pori0"><button class="all-width mbot02 h2-5em btn btn-light-aqua small-caps" ng-click='' onclick="javascript:alert('TODO')">edit profile</button></div>
				<div class="col-md-12 pori0"><button class="all-width mbot02 h2-5em btn btn-reddish small-caps" ng-click='create.setDoing(true)'>createa <u>new</u> session</button></div>
				<div class="col-md-12 pori0"><button class="all-width mbot0 h2-5em btn btn-sky small-caps" ng-click='' onclick="javascript:alert('TODO')">enter a <u>public</u> session</button></div>
			</div>

			<div class="col-md-6 col-md-pull-6 plef0 prig05 mbot05">
				<div class="session-choice panel panel-reddish panel-left mbot0">
					<div class="panel-heading">Your sessions</div>
					<div class="panel-body">
						<ol class="list-group">
							<li class="list-group-item" ng-repeat="s in m.userpage.owned_list">
								<a href="#/interface/{{s.seed}}">
									<span class="glyphicon glyphicon-eye-open" title="Public" ng-if="s.privacy == 'public'"></span>
									<span class="glyphicon glyphicon-eye-close" title="Private" ng-if="s.privacy == 'private'"></span>
									<span class="glyphicon glyphicon-lock" title="Protected" ng-if="s.password == 1"></span>
									<span title="{{s.seed}}">{{s.title}}</span>
								</a>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div class="col-md-6 session-choice prig05">
				<div class="session-choice panel panel-light-aqua">
					<div class="panel-heading">Shared sessions</div>
					<div class="panel-body">
						here a list of shared sessions
					</div>
				</div>
			</div>

			<div class="col-md-6 session-choice plef05">
				<div class="session-choice panel panel-sky">
					<div class="panel-heading">Your history</div>
					<div class="panel-body">
						here a list of last visited sessions
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- create-session-form -->
	<div class="col-md-12 session-choice panel panel-reddish" ng-if="create.isDoing()">
		<div class="panel-heading">Create a new session</div>
		<div class="panel-body">
			<form role="form">
				<div class="col-md-12 text-align-right note"><small class="text-muted" ng-class="{'text-danger':m.session_sys.create.err.title}">
					Use at least four characters.
				</small></div><br />
				<div class="input-group mbot05" ng-class="{'has-error':m.session_sys.create.err.title}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-header"></span></span>
					<input class="form-control" type="text" placeholder="Session title (e.g.: New Session #)" name="new-session-title" id="new-session-title" ng-model="m.session_sys.create.title" />
				</div>
				<div class="input-group mbot05" ng-class="{'has-error':m.session_sys.create.err.privacy}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></span>
					<select class="form-control" name="session-privacy-status" id="session-privacy-status" ng-model="m.session_sys.create.privacy">
						<option value="" selected disabled>Select a privacy status</option>
						<option value="public">Public</option>
						<option value="private">Private</option>
					</select>
				</div>
				<p>
					<input type="checkbox" name="protect-the-session" id="protect-the-session" ng-model="m.session_sys.create.protected" />
					<label for="protect-the-session">Password protected</label>
				</p>
				<div class="input-group mbot0" ng-show="m.session_sys.create.protected" ng-class="{'has-error':m.session_sys.create.err.pwd}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<input class="form-control" type="password" placeholder="Provide a password" name="password-protection" id="password-protection" ng-model="m.session_sys.create.pwd" />
				</div>
				<div class="mbot05 col-md-12 text-align-right note" ng-show="m.session_sys.create.protected"><small class="text-muted" ng-class="{'text-danger':m.session_sys.create.err.pwd}">
					Use at least one lowercase letter, one uppercase letter, one digit, and eight characters.
				</small></div>
				<div><input class="mbot05 form-control hidden-file-input" type="email" id="hatch" name="hatch" ng-model="m.session_sys.create.hatch"></div>
			</form>

			<p class="text-danger">
				<span ng-if="!create.isError(0)">Could not create the session.</span>
			</p>

			<a ng-click="create.setDoing(false)" class="btn btn-reddish float-right small-caps h2-5em">back</a>
			<a ng-click="create.do()" class="btn btn-aqua float-right small-caps h2-5em">create</a>
		</div>
	</div>

	<!-- bye-bye -->
	<div class="col-md-12 session-choice panel panel-reddish" ng-if="out.isSigning()">
		<div class="panel-heading">Signing out</div>
		<div class="panel-body">
			<center>
				<h2 class="text-danger">See you soon!</h2>
			</center>
		</div>
	</div>

</div>
