<div class="panel-heading">Layout</div>
<div class="panel-body">
	
	<button type="button" class="btn btn-warning oldSkin btn-md" ng-click="canvas.layout({name:'circle'})" >
		<span class="glyphicon glyphicon-repeat"></span>
	</button>
	<button type="button" class="btn btn-warning oldSkin btn-md" ng-click="canvas.layout({name:'grid'})">
		<span class="glyphicon glyphicon-th"></span>
	</button>
	<button type="button" class="btn btn-warning oldSkin btn-md" ng-click="canvas.layout({name:'breadthfirst'})">
		<span class="glyphicon glyphicon-tree-deciduous"></span>
	</button>
	<button type="button" class="btn btn-warning oldSkin btn-md" ng-click="canvas.layout({name:'random'})">
		<span class="glyphicon glyphicon-asterisk"></span>
	</button>
	<button type="button" class="btn btn-danger oldSkin btn-md" ng-click="canvas.center()">
		<span class="glyphicon glyphicon-screenshot"></span>
	</button>

</div>
