<div class="panel-heading">
	<span ng-show="commander.is_operation()">Operate on networks</span>
	<span ng-show="commander.is_operation('merge')">Merge networks</span>
	<span ng-show="commander.is_operation('intersect')">Intersect networks</span>
	<span ng-show="commander.is_operation('subtract')">Subtract networks</span>
	<span ng-show="commander.is_operation('contains')">Is Subnetwork?</span>
	<span ng-show="commander.is_operation('distances')">Calculate distance</span>
</div>
<!-- operation index -->
<div class="panel-body" ng-show="commander.is_operation()">
	<!-- merge -->
	<div class="btn h2-5em operation-btn btn-reddish btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('merge', networks.list, m.session_id)">
		Merge networks
	</div>
	<!-- intersect -->
	<div class="btn h2-5em operation-btn btn-reddish btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('intersect', networks.list, m.session_id)">
		Intersect networks
	</div>
	<!-- subtract -->
	<div class="btn h2-5em operation-btn btn-reddish btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('subtract', networks.list, m.session_id)">
		Subtract networks
	</div>
	<!-- contains -->
	<div class="btn h2-5em operation-btn btn-sky btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('contains', networks.list, m.session_id)">
		is Subnetwork
	</div>
	<!-- distances -->
	<div class="btn h2-5em operation-btn btn-aqua btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('distances', networks.list, m.session_id)">
		Calculate distance
	</div>
</div>

<!-- merge body -->
<div class="panel-body" ng-show="commander.is_operation('merge')">
	<div class="merge-page-1" ng-show="commander.merge.is_page(1)">
		<label for="merge-new-name">
			New name:
			<input class="form-control" type="text" id="merge-new-name" name="merge-new-name" ng-model="commander.merge.group.new_name" />
		</label>
		<hr />

		<h4>Select the networks to merge:</h4>
		<label class="group-selection-option alert alert-gold" for="merge-all">
			<input type="checkbox" id="merge-all" name="merge-all"
				ng-model="commander.merge.group.all"
				ng-change="commander.merge.un_select_all(); commander.merge.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;Un/Select all
		</label>
		<label class="group-selection-option alert alert-aqua" for="merge-filter">
			<input type="checkbox" id="merge-filter" name="merge-filter"
				ng-model="commander.merge.group.filter"
				ng-change="commander.merge.toggle_filter()"
			/>&nbsp;Custom Filters
		</label>

		<div class="panel panel-success" ng-show="commander.merge.group.filter">
			<div class="panel-success panel-heading">
				Filter
				<a href="#/interface/{{m.session_id}}" class="btn-panel float-right" ng-click="commander.merge.add_filter()" title="Add new"><span class="text-success glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="panel-body">
				<table class="filter-selection">
					<tr>
						<td></td>
						<th>Attribute</th>
						<th>Condition</th>
						<th>Value</th>
					</tr>
					<tr ng-repeat="filter in commander.merge.filters">
						<td class="text-align-left">
							<select class="form-control" ng-show="!$first" ng-model="commander.merge.filters[$index].combine" ng-change="commander.merge.apply_filters()">
								<option value="">--</option>
								<option value="AND">AND</option>
								<option value="OR">OR</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.merge.filters[$index].attribute" ng-change="commander.merge.apply_filters(); commander.merge.filters[$index].value=''">
								<option value="">--</option>
								<option value="{{attr}}" ng-repeat="attr in commander.merge.group.net_attributes">{{commander.merge.extract_attr_name(attr)}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="commander.merge.filters[$index].condition" ng-change="commander.merge.apply_filters()">
								<option value="" ng-show="!commander.merge.filters[$index].object">--</option>
								<option value="e" ng-show="!commander.merge.filters[$index].object">=</option>
								<option value="ne" ng-show="!commander.merge.filters[$index].object">&#8800;</option>
								<option value="lt" ng-show="!commander.merge.filters[$index].object">&lt;</option>
								<option value="le" ng-show="!commander.merge.filters[$index].object">&le;</option>
								<option value="gt" ng-show="!commander.merge.filters[$index].object">&gt;</option>
								<option value="ge" ng-show="!commander.merge.filters[$index].object">&ge;</option>
								<option value="c" ng-selected="commander.merge.filters[$index].object" ng-show="commander.merge.filters[$index].object">contains</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.merge.filters[$index].value" ng-change="commander.merge.apply_filters()">
								<option value="" ng-selected="-1 == commander.merge.get_net_attr_values($index).indexOf(commander.merge.filters[$index].value)">--</option>
								<option value="{{v}}" ng-repeat="v in commander.merge.get_net_attr_values($index)">{{v}}</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<label for="net-{{net.id}}" class="alert"
			ng-repeat='net in commander.merge.group.net_list | filter:networks.isConverted'
			ng-show='networks.list != null'
			ng-class="{'alert-sky' : networks.isConverted(net), 'alert-reddish' : !networks.isConverted(net)}"
			style="width: 100%;">
			<input id="net-{{net.id}}" name="net-{{net.id}}" type="checkbox"
				ng-model="commander.merge.group.networks[net.name]"
				ng-change="commander.merge.check(net.name); commander.merge.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;{{net.name}}
		</label>

		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.merge_set_page(2)'>next</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="merge-page-2" ng-show="commander.merge.is_page(2)">
		<h4>Select the attributes to use for identity definitions:</h4>
		<div>
			<h5>Nodes</h5>
			<label class="alert alert-gold attr-select" for="attr-node-{{attr}}" ng-repeat="attr in commander.merge.group.nodes">
				<input type="checkbox" name="attr-node-{{attr}}" id="attr-node-{{attr}}" ng-model="commander.merge.n_attr_identity[attr]" />
				{{attr}}
			</label>
			<i ng-show="0 == commander.merge.group.nodes.length">No node attributes...</i>
		</div>
		<div>
			<h5>Edges</h5>
			<label class="alert alert-gold attr-select" for="attr-edge-{{attr}}" ng-repeat="attr in commander.merge.group.edges">
				<input type="checkbox" name="attr-edge-{{attr}}" id="attr-edge-{{attr}}" ng-model="commander.merge.e_attr_identity[attr]" />
				{{attr}}
			</label>
			<i ng-show="0 == commander.merge.group.edges.length">No edge attributes...</i>
		</div>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.merge_set_page(3)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.merge.set_page(1)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="merge-page-3" ng-show="commander.merge.is_page(3)">
		<h4>Select the behavior for non-identity attributes:</h4>
		<div>
			<div ng-repeat="(attr, behavior) in commander.merge.n_attr_behavior">
				node-{{attr}}
				<select class='form-control' name="node-{{attr}}-behavior" id="node-{{attr}}-behavior" ng-model="commander.merge.n_attr_behavior[attr]">
					<option value="ignore">ignore</option>
					<option value="sum">sum</option>
					<option value="prod">prod</option>
					<option value="min">min</option>
					<option value="max">max</option>
					<option value="random">random</option>
					<option value="mean">mean</option>
					<option value="median">median</option>
					<option value="concat">concat</option>
					<option value="first">first</option>
					<option value="last">last</option>
				</select>
			</div>
		</div>
		<div>
			<div ng-repeat="(attr, behavior) in commander.merge.e_attr_behavior">
				edge-{{attr}}
				<select class='form-control' name="edge-{{attr}}-behavior" id="edge-{{attr}}-behavior" ng-model="commander.merge.e_attr_behavior[attr]">
					<option value="ignore">ignore</option>
					<option value="sum">sum</option>
					<option value="prod">prod</option>
					<option value="min">min</option>
					<option value="max">max</option>
					<option value="random">random</option>
					<option value="mean">mean</option>
					<option value="median">median</option>
					<option value="concat">concat</option>
					<option value="first">first</option>
					<option value="last">last</option>
				</select>
			</div>
		</div>
		<div ng-show="0 == commander.merge.group.nodes.length"><i>No node attributes...</i></div>
		<div ng-show="0 == commander.merge.group.edges.length"><i>No edge attributes...</i></div>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.merge_set_page(4)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.merge.set_page(2)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="merge-page-4" ng-show="commander.merge.is_page(4)">
		<label for="add-node-count-attr" class="alert alert-sky">
			<input type="checkbox" id="add-node-count-attr" name="add-node-count-attr" ng-model="commander.merge.add_node_count_attr" />
			Add node <u>count</u> attribute.
		</label>
		<label for="add-edge-count-attr" class="alert alert-sky">
			<input type="checkbox" id="add-edge-count-attr" name="add-edge-count-attr" ng-model="commander.merge.add_edge_count_attr" />
			Add edge <u>count</u> attribute.
		</label>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.apply_merge(m.session_id, settings.info.default_layout)'>merge</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.merge.set_page(3)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<hr style="margin-bottom: 2em;" />

	<div class="alert alert-reddish" ng-show="undefined != commander.merge.errMsg">{{commander.merge.errMsg}}</div>

	<p class="footnote" ng-show="commander.merge.is_page(2)">
		Remember to standardize correctly map the attributes of the networks of interest
		using the attribute management tools.
	</p>
</div>

<!-- intersect body -->
<div class="panel-body" ng-show="commander.is_operation('intersect')">
	<div class="intersect-page-1" ng-show="commander.intersect.is_page(1)">
		<label for="intersect-new-name">
			New name:
			<input class="form-control" type="text" id="intersect-new-name" name="intersect-new-name" ng-model="commander.intersect.group.new_name" />
		</label>
		<hr />

		<h4>Select the networks to intersect:</h4>
		<label class="group-selection-option alert alert-gold" for="intersect-all">
			<input type="checkbox" id="intersect-all" name="intersect-all"
				ng-model="commander.intersect.group.all"
				ng-change="commander.intersect.un_select_all(); commander.intersect.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;Un/Select all
		</label>
		<label class="group-selection-option alert alert-aqua" for="intersect-filter">
			<input type="checkbox" id="intersect-filter" name="intersect-filter"
				ng-model="commander.intersect.group.filter"
				ng-change="commander.intersect.toggle_filter()"
			/>&nbsp;Custom Filters
		</label>

		<div class="panel panel-success" ng-show="commander.intersect.group.filter">
			<div class="panel-success panel-heading">
				Filter
				<a href="#/interface/{{m.session_id}}" class="btn-panel float-right" ng-click="commander.intersect.add_filter()" title="Add new"><span class="text-success glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="panel-body">
				<table class="filter-selection">
					<tr>
						<td></td>
						<th>Attribute</th>
						<th>Condition</th>
						<th>Value</th>
					</tr>
					<tr ng-repeat="filter in commander.intersect.filters">
						<td class="text-align-left">
							<select class="form-control" ng-show="!$first" ng-model="commander.intersect.filters[$index].combine" ng-change="commander.intersect.apply_filters()">
								<option value="">--</option>
								<option value="AND">AND</option>
								<option value="OR">OR</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.intersect.filters[$index].attribute" ng-change="commander.intersect.apply_filters(); commander.intersect.filters[$index].value=''">
								<option value="">--</option>
								<option value="{{attr}}" ng-repeat="attr in commander.intersect.group.net_attributes">{{commander.intersect.extract_attr_name(attr)}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="commander.intersect.filters[$index].condition" ng-change="commander.intersect.apply_filters()">
								<option value="" ng-show="!commander.intersect.filters[$index].object">--</option>
								<option value="e" ng-show="!commander.intersect.filters[$index].object">=</option>
								<option value="ne" ng-show="!commander.intersect.filters[$index].object">&#8800;</option>
								<option value="lt" ng-show="!commander.intersect.filters[$index].object">&lt;</option>
								<option value="le" ng-show="!commander.intersect.filters[$index].object">&le;</option>
								<option value="gt" ng-show="!commander.intersect.filters[$index].object">&gt;</option>
								<option value="ge" ng-show="!commander.intersect.filters[$index].object">&ge;</option>
								<option value="c" ng-selected="commander.intersect.filters[$index].object" ng-show="commander.intersect.filters[$index].object">contains</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.intersect.filters[$index].value" ng-change="commander.intersect.apply_filters()">
								<option value="" ng-selected="-1 == commander.intersect.get_net_attr_values($index).indexOf(commander.intersect.filters[$index].value)">--</option>
								<option value="{{v}}" ng-repeat="v in commander.intersect.get_net_attr_values($index)">{{v}}</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<label for="net-{{net.id}}" class="alert"
			ng-repeat='net in commander.intersect.group.net_list | filter:networks.isConverted'
			ng-show='networks.list != null' ng-class="{'alert-sky' : networks.isConverted(net), 'alert-reddish' : !networks.isConverted(net)}"
			style="width: 100%;">
			<input id="net-{{net.id}}" name="net-{{net.id}}" type="checkbox"
				ng-model="commander.intersect.group.networks[net.name]"
				ng-change="commander.intersect.check(net.name); commander.intersect.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;{{net.name}}
		</label>

		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.intersect_set_page(2)'>next</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="intersect-page-2" ng-show="commander.intersect.is_page(2)">
		<h4>Select the attributes to use for identity definitions:</h4>
		<div>
			<h5>Nodes</h5>
			<label class="alert alert-gold attr-select" for="attr-node-{{attr}}" ng-repeat="attr in commander.intersect.group.nodes">
				<input type="checkbox" name="attr-node-{{attr}}" id="attr-node-{{attr}}" ng-model="commander.intersect.n_attr_identity[attr]" />
				{{attr}}
			</label>
			<i ng-show="0 == commander.intersect.group.nodes.length">No node attributes...</i>
		</div>
		<div>
			<h5>Edges</h5>
			<label class="alert alert-gold attr-select" for="attr-edge-{{attr}}" ng-repeat="attr in commander.intersect.group.edges">
				<input type="checkbox" name="attr-edge-{{attr}}" id="attr-edge-{{attr}}" ng-model="commander.intersect.e_attr_identity[attr]" />
				{{attr}}
			</label>
			<i ng-show="0 == commander.intersect.group.edges.length">No edge attributes...</i>
		</div>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.intersect_set_page(3)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.intersect.set_page(1)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="intersect-page-3" ng-show="commander.intersect.is_page(3)">
		<h4>Select the behavior for non-identity attributes:</h4>
		<div>
			<div ng-repeat="(attr, behavior) in commander.intersect.n_attr_behavior">
				node-{{attr}}
				<select class='form-control' name="node-{{attr}}-behavior" id="node-{{attr}}-behavior" ng-model="commander.intersect.n_attr_behavior[attr]">
					<option value="ignore">ignore</option>
					<option value="sum">sum</option>
					<option value="prod">prod</option>
					<option value="min">min</option>
					<option value="max">max</option>
					<option value="random">random</option>
					<option value="mean">mean</option>
					<option value="median">median</option>
					<option value="concat">concat</option>
					<option value="first">first</option>
					<option value="last">last</option>
				</select>
			</div>
		</div>
		<div>
			<div ng-repeat="(attr, behavior) in commander.intersect.e_attr_behavior">
				edge-{{attr}}
				<select class='form-control' name="edge-{{attr}}-behavio" id="edge-{{attr}}-behavio" ng-model="commander.intersect.e_attr_behavior[attr]">
					<option value="ignore">ignore</option>
					<option value="sum">sum</option>
					<option value="prod">prod</option>
					<option value="min">min</option>
					<option value="max">max</option>
					<option value="random">random</option>
					<option value="mean">mean</option>
					<option value="median">median</option>
					<option value="concat">concat</option>
					<option value="first">first</option>
					<option value="last">last</option>
				</select>
			</div>
		</div>
		<div ng-show="0 == commander.intersect.group.nodes.length">No node attributes...</div>
		<div ng-show="0 == commander.intersect.group.edges.length">No edge attributes...</div>


		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.apply_intersect(m.session_id, settings.info.default_layout)'>intersect</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.intersect.set_page(2)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<hr style="margin-bottom: 2em;" />

	<div class="alert alert-reddish" ng-show="undefined != commander.intersect.errMsg">{{commander.intersect.errMsg}}</div>

	<p class="footnote" ng-show="commander.intersect.is_page(2)">
		Remember to standardize correctly map the attributes of the networks of interest
		using the attribute management tools.
	</p>
</div>

<!-- subtract body -->
<div class="panel-body" ng-show="commander.is_operation('subtract')">
	<div class="subtract-page-1" ng-show="commander.subtract.is_page(1)">
		<label for="subtract-new-name">
			New name:
			<input class="form-control" type="text" id="subtract-new-name" name="subtract-new-name" ng-model="commander.subtract.group.new_name" />
		</label>
		<hr />

		<h4>Select the minuend network:</h4>
		<select name="" id="" class="form-control" ng-model="commander.subtract.group.minuend" ng-change="commander.subtract.get_attrs(commander.subtract.get_attrs_from_net(networks.get_network_from_name(commander.subtract.group.super), commander.subtract.get_attrs_from_net(networks.get_network_from_name(commander.subtract.group.sub), {nodes:[],edges:[]})));" ng-show='networks.list != null'>
			<option value="">--</option>
			<option value="{{net.name}}" ng-repeat="net in commander.subtract.group.net_list | filter:networks.isConverted">{{net.name}}</option>
		</select>
		<br />

		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.subtract_set_page(2, m.session_id)'>next</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

    <div class="subtract-page-2" ng-show="commander.subtract.is_page(2)">
        <h4>Select the networks to subtract:</h4>
        <label class="group-selection-option alert alert-gold" for="subtract-all"
        	ng-click="commander.subtract.un_select_all(); commander.subtract.get_attrs(commander.subtract.get_attrs_from_net(networks.get_network_from_name(commander.subtract.group.minuend), {nodes:[],edges:[]}));">
        	<input type="checkbox" id="subtract-all" name="subtract-all"
        		ng-model="commander.subtract.group.all"
        	/>&nbsp;Un/Select all
        </label>
        <label class="group-selection-option alert alert-aqua" for="subtract-filter"
        	ng-click="commander.subtract.toggle_filter()">
        	<input type="checkbox" id="subtract-filter" name="subtract-filter"
        		ng-model="commander.subtract.group.filter"
        	/>&nbsp;Custom Filters
        </label>

        <div class="panel panel-success" ng-show="commander.subtract.group.filter">
            <div class="panel-success panel-heading">
                Filter
                <a href="#/interface/{{m.session_id}}" class="btn-panel float-right" ng-click="commander.subtract.add_filter()" title="Add new"><span class="text-success glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="panel-body">
                <table class="filter-selection">
                    <tr>
                        <td></td>
                        <th>Attribute</th>
                        <th>Condition</th>
                        <th>Value</th>
                    </tr>
                    <tr ng-repeat="filter in commander.subtract.filters">
                        <td class="text-align-left">
                            <select class="form-control" ng-show="!$first" ng-model="commander.subtract.filters[$index].combine" ng-change="commander.subtract.apply_filters()">
                                <option value="">--</option>
                                <option value="AND">AND</option>
                                <option value="OR">OR</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" style="max-width: 100px;" ng-model="commander.subtract.filters[$index].attribute" ng-change="commander.subtract.apply_filters(); commander.subtract.filters[$index].value=''">
                                <option value="">--</option>
                                <option value="{{attr}}" ng-repeat="attr in commander.subtract.group.net_attributes">{{commander.subtract.extract_attr_name(attr)}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" ng-model="commander.subtract.filters[$index].condition" ng-change="commander.subtract.apply_filters()">
                                <option value="" ng-show="!commander.subtract.filters[$index].object">--</option>
                                <option value="e" ng-show="!commander.subtract.filters[$index].object">=</option>
                                <option value="ne" ng-show="!commander.subtract.filters[$index].object">&#8800;</option>
                                <option value="lt" ng-show="!commander.subtract.filters[$index].object">&lt;</option>
                                <option value="le" ng-show="!commander.subtract.filters[$index].object">&le;</option>
                                <option value="gt" ng-show="!commander.subtract.filters[$index].object">&gt;</option>
                                <option value="ge" ng-show="!commander.subtract.filters[$index].object">&ge;</option>
                                <option value="c" ng-selected="commander.subtract.filters[$index].object" ng-show="commander.subtract.filters[$index].object">contains</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" style="max-width: 100px;" ng-model="commander.subtract.filters[$index].value" ng-change="commander.subtract.apply_filters()">
                                <option value="" ng-selected="-1 == commander.subtract.get_net_attr_values($index).indexOf(commander.subtract.filters[$index].value)">--</option>
                                <option value="{{v}}" ng-repeat="v in commander.subtract.get_net_attr_values($index)">{{v}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <label for="net-subtrahend-{{net.id}}" class="alert"
        	ng-repeat='net in commander.subtract.group.net_list | filter:networks.isConverted'
        	ng-show='networks.list != null'
        	ng-class="{'alert-sky' : networks.isConverted(net), 'alert-reddish' : !networks.isConverted(net)}"
        	style="width: 100%;">
            <input id="net-subtrahend-{{net.id}}" name="net-subtrahend-{{net.id}}" type="checkbox"
            	ng-model="commander.subtract.group.networks[net.name]"
            	ng-change="commander.subtract.check(net.name); commander.subtract.get_attrs(commander.subtract.get_attrs_from_net(networks.get_network_from_name(commander.subtract.group.minuend), {nodes:[],edges:[]}));"
            />&nbsp;{{net.name}}
        </label>

        <button class="btn h2-5em end-btn btn-aqua" ng-click='commander.subtract_set_page(3, m.session_id)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.subtract.set_page(1)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
    </div>

    <div class="subtract-page-3" ng-show="commander.subtract.is_page(3)">
        <h4>Select the attributes to use for identity definitions:</h4>
        <div>
            <h5>Nodes</h5>
            <label class="alert alert-gold attr-select" for="attr-node-{{attr}}" ng-repeat="attr in commander.subtract.group.nodes">
                <input type="checkbox" name="attr-node-{{attr}}" id="attr-node-{{attr}}" ng-model="commander.subtract.n_attr_identity[attr]" />
                {{attr}}
            </label>
        </div>
        <i ng-show="0 == commander.subtract.group.nodes.length">No node attributes...</i>
        <div>
            <h5>Edges</h5>
            <label class="alert alert-gold attr-select" for="attr-edge-{{attr}}" ng-repeat="attr in commander.subtract.group.edges">
                <input type="checkbox" name="attr-edge-{{attr}}" id="attr-edge-{{attr}}" ng-model="commander.subtract.e_attr_identity[attr]" />
                {{attr}}
            </label>
        </div>
        <i ng-show="0 == commander.subtract.group.edges.length">No edge attributes...</i>

        <br />
        <button class="btn h2-5em end-btn btn-aqua" ng-click='commander.subtract_set_page(4, m.session_id, settings.info.default_layout)'>subtract</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.subtract.set_page(2)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
    </div>

	<hr style="margin-bottom: 2em;" />

	<div class="alert alert-reddish" ng-show="undefined != commander.subtract.errMsg">{{commander.subtract.errMsg}}</div>

	<p class="footnote" ng-show="commander.subtract.is_page(3)">
		Remember to standardize correctly map the attributes of the networks of interest
		using the attribute management tools.
	</p>
</div>

<!-- contains body -->
<div class="panel-body" ng-show="commander.is_operation('contains')">
	<div class="contains-page-1" ng-show="commander.contains.is_page(1)">
		<h4>Select the super-network:</h4>
		<select name="" id="" class="form-control" ng-model="commander.contains.group.super" ng-change="commander.contains.get_attrs(commander.contains.get_attrs_from_net(networks.get_network_from_name(commander.contains.group.super), commander.contains.get_attrs_from_net(networks.get_network_from_name(commander.contains.group.sub), {nodes:[],edges:[]})));">
			<option value="">--</option>
			<option value="{{net.name}}" ng-repeat="net in commander.contains.group.net_list | filter:networks.isConverted">{{net.name}}</option>
		</select>

		<hr style="margin-bottom: 2em;" />

		<h4>Select the sub-network:</h4>
		<select name="" id="" class="form-control" ng-model="commander.contains.group.sub" ng-change="commander.contains.get_attrs(commander.contains.get_attrs_from_net(networks.get_network_from_name(commander.contains.group.super), commander.contains.get_attrs_from_net(networks.get_network_from_name(commander.contains.group.sub), {nodes:[],edges:[]})));">
			<option value="">--</option>
			<option value="{{net.name}}" ng-repeat="net in commander.contains.group.net_list | filter:networks.isConverted">{{net.name}}</option>
		</select>
		
		<hr style="margin-bottom: 2em;" />

        <h4>Select the attributes to use for identity definitions:</h4>
        <div>
            <h5>Nodes</h5>
            <label class="alert alert-gold attr-select" for="attr-node-{{attr}}"
            	ng-repeat="attr in commander.contains.group.nodes">
                <input type="checkbox" name="attr-node-{{attr}}" id="attr-node-{{attr}}"
                	ng-model="commander.contains.n_attr_identity[attr]" />&nbsp;{{attr}}
            </label>
        </div>
        <i ng-show="0 == commander.contains.group.nodes.length">No node attributes...</i>
        <div>
            <h5>Edges</h5>
            <label class="alert alert-gold attr-select" for="attr-edge-{{attr}}"
            	ng-repeat="attr in commander.contains.group.edges">
                <input type="checkbox" name="attr-edge-{{attr}}" id="attr-edge-{{attr}}"
                	ng-model="commander.contains.e_attr_identity[attr]" />&nbsp;{{attr}}
            </label>
        </div>
        <i ng-show="0 == commander.contains.group.edges.length">No edge attributes...</i>

        <br />
        <button class="btn h2-5em end-btn btn-aqua" ng-click='commander.contains_set_page(2, m.session_id)'>contains</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
    </div>

	<hr style="margin-bottom: 2em;" />

	<div class="alert alert-reddish" ng-show="undefined != commander.contains.errMsg">{{commander.contains.errMsg}}</div>

	<p class="footnote" ng-show="commander.contains.is_page(3)">
		Remember to standardize correctly map the attributes of the networks of interest
		using the attribute management tools.
	</p>
</div>

<!-- distance -->
<div class="panel-body" ng-show="commander.is_operation('distances')">
	<div class="distances-page-1" ng-show="commander.distances.is_page(1)">
		<h4>Select the networks to calculate their pair-wise distance:</h4>
		<label class="group-selection-option alert alert-gold" for="distances-all">
			<input type="checkbox" id="distances-all" name="distances-all" 
				ng-model="commander.distances.group.all"
				ng-change="commander.distances.un_select_all(); commander.distances.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;Un/Select all
		</label>
		<label class="group-selection-option alert alert-aqua" for="distances-filter">
			<input type="checkbox" id="distances-filter" name="distances-filter"
				ng-model="commander.distances.group.filter"
				ng-change="commander.distances.toggle_filter()"
			/>&nbsp;Custom Filters
		</label>

		<div class="panel panel-success" ng-show="commander.distances.group.filter">
			<div class="panel-success panel-heading">
				Filter
				<a href="#/interface/{{m.session_id}}" class="btn-panel float-right" ng-click="commander.distances.add_filter()" title="Add new"><span class="text-success glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="panel-body">
				<table class="filter-selection">
					<tr>
						<td></td>
						<th>Attribute</th>
						<th>Condition</th>
						<th>Value</th>
					</tr>
					<tr ng-repeat="filter in commander.distances.filters">
						<td class="text-align-left">
							<select class="form-control" ng-show="!$first" ng-model="commander.distances.filters[$index].combine" ng-change="commander.distances.apply_filters()">
								<option value="">--</option>
								<option value="AND">AND</option>
								<option value="OR">OR</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.distances.filters[$index].attribute" ng-change="commander.distances.apply_filters(); commander.distances.filters[$index].value=''">
								<option value="">--</option>
								<option value="{{attr}}" ng-repeat="attr in commander.distances.group.net_attributes">{{commander.distances.extract_attr_name(attr)}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="commander.distances.filters[$index].condition" ng-change="commander.distances.apply_filters()">
								<option value="" ng-show="!commander.distances.filters[$index].object">--</option>
								<option value="e" ng-show="!commander.distances.filters[$index].object">=</option>
								<option value="ne" ng-show="!commander.distances.filters[$index].object">&#8800;</option>
								<option value="lt" ng-show="!commander.distances.filters[$index].object">&lt;</option>
								<option value="le" ng-show="!commander.distances.filters[$index].object">&le;</option>
								<option value="gt" ng-show="!commander.distances.filters[$index].object">&gt;</option>
								<option value="ge" ng-show="!commander.distances.filters[$index].object">&ge;</option>
								<option value="c" ng-selected="commander.distances.filters[$index].object" ng-show="commander.distances.filters[$index].object">contains</option>
							</select>
						</td>
						<td>
							<select class="form-control" style="max-width: 100px;" ng-model="commander.distances.filters[$index].value" ng-change="commander.distances.apply_filters()">
								<option value="" ng-selected="-1 == commander.distances.get_net_attr_values($index).indexOf(commander.distances.filters[$index].value)">--</option>
								<option value="{{v}}" ng-repeat="v in commander.distances.get_net_attr_values($index)">{{v}}</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<label for="net-{{net.id}}" class="alert"
			ng-repeat='net in commander.distances.group.net_list | filter:networks.isConverted'
			ng-show='networks.list != null'
			ng-class="{'alert-sky' : networks.isConverted(net), 'alert-reddish' : !networks.isConverted(net)}"
			style="width: 100%;">
			<input id="net-{{net.id}}" name="net-{{net.id}}" type="checkbox"
				ng-model="commander.distances.group.networks[net.name]"
				ng-change="commander.distances.check(net.name); commander.distances.get_attrs({nodes:[],edges:[]});"
			/>&nbsp;{{net.name}}
		</label>

		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.distances_set_page(2)'>next</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="distances-page-2" ng-show="commander.distances.is_page(2)">
		<h4>Select the attributes to use for identity definitions:</h4>
		<div>
			<h5>Nodes</h5>
			<label class="alert alert-gold attr-select" for="attr-node-{{attr}}" ng-repeat="attr in commander.distances.group.nodes">
				<input type="checkbox" name="attr-node-{{attr}}" id="attr-node-{{attr}}" ng-model="commander.distances.n_attr_identity[attr]" />
				{{attr}}
			</label>
		</div>
		<div>
			<h5>Edges</h5>
			<label class="alert alert-gold attr-select" for="attr-edge-{{attr}}" ng-repeat="attr in commander.distances.group.edges">
				<input type="checkbox" name="attr-edge-{{attr}}" id="attr-edge-{{attr}}" ng-model="commander.distances.e_attr_identity[attr]" />
				{{attr}}
			</label>
		</div>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.distances_set_page(3)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.distances.set_page(1)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="distances-page-3" ng-show="commander.distances.is_page(3)">
		<h4>Select the distances:</h4>

		<label for="dist-hamming" class="alert alert-sky" style="width: 100%;">
			<input id="dist-hamming" name="dist-hamming" type="checkbox" ng-model="commander.distances.measures['h']" />
			Hamming
		</label>
		<label for="dist-hamming-im" class="alert alert-sky" style="width: 100%;">
			<input id="dist-hamming-im" name="dist-hamming-im" type="checkbox" ng-model="commander.distances.measures['him']" />
			HIM
		</label>
		<label for="dist-IM" class="alert alert-sky" style="width: 100%;">
			<input id="dist-IM" name="dist-IM" type="checkbox" ng-model="commander.distances.measures['im']" />
			Ipsen-Mikhailov
		</label>
		<label for="dist-jaccard" class="alert alert-sky" style="width: 100%;">
			<input id="dist-jaccard" name="dist-jaccard" type="checkbox" ng-model="commander.distances.measures['j']" />
			Jaccard
		</label>
		<label for="dist-jaccard-im" class="alert alert-sky" style="width: 100%;">
			<input id="dist-jaccard-im" name="dist-jaccard-im" type="checkbox" ng-model="commander.distances.measures['jim']" />
			JIM
		</label>
		<label for="dist-jaccard-subset" class="alert alert-sky" style="width: 100%;">
			<input id="dist-jaccard-subset" name="dist-jaccard-subset" type="checkbox" ng-model="commander.distances.measures['js']" />
			Jaccard subset
		</label>
		<label for="dist-jaccard-subset-im" class="alert alert-sky" style="width: 100%;">
			<input id="dist-jaccard-subset-im" name="dist-jaccard-subset-im" type="checkbox" ng-model="commander.distances.measures['jsim']" />
			JsIM
		</label>
		
		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.distances_set_page(4)'>next</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.distances.set_page(2)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<div class="distances-page-4" ng-show="commander.distances.is_page(4)">
		<label for="auto-plot" class="alert alert-sky" style="width: 100%;">
			<input type="checkbox" id="auto-plot" name="auto-plot" ng-model="commander.distances.out_plot" />
			Output plots and heatmaps.
		</label>
		<label for="auto-table" class="alert alert-sky" style="width: 100%;">
			<input type="checkbox" id="auto-table" name="auto-table" ng-model="commander.distances.out_table" />
			Output distances table.
		</label>

		<br />
		<button class="btn h2-5em end-btn btn-aqua" ng-click='commander.apply_distances(m.session_id)'>distances</button><button class="btn h2-5em end-btn btn-warning" ng-click='commander.distances.set_page(3)'>back</button><button class="btn h2-5em end-btn btn-reddish" ng-click='commander.abort_operation()'>abort</button>
	</div>

	<hr style="margin-bottom: 2em;" />

	<div class="alert alert-reddish" ng-show="undefined != commander.distances.errMsg">{{commander.distances.errMsg}}</div>
</div>
