<div class="panel-heading">Settings</div>
<div class="panel-body">

	<!-- sample info file -->
	<div class="accordion-tema accordion-tema-gray">
		<a class="accordion-head" href="" ng-click="panels.toggleAccordion('settings', 1)">Sample Info File</a>
		<div class="accordion-body" ng-show="panels.isAccordion('settings', 1)">

			<div ng-show="!settings.is_sif_ready()">
				<button class="btn btn-reddish h2-5em" ng-click="settings.upload_sif(m.session_id)">Upload SIF</button>
				<input type="file" id="sif-input" class='hidden-file-input' />
			</div>

			<div ng-show="settings.is_sif_ready()">
				SIF sample column:
				<select name="sif-sample-column" id="sif-sample-column" class="form-control" ng-model="settings.info.sif_sample_col">
					<option value="">Select a column</option>
					<option value="{{k}}" ng-repeat="k in settings.info.sif_keys" ng-selected="settings.is_sif_sample_col(k)">{{k}}</option>
				</select>
				<button class="btn btn-reddish h2-5em change-sif-btn" ng-click="settings.upload_sif(m.session_id)">Change SIF</button>
				<input type="file" id="sif-input" class='hidden-file-input' />
			</div>

		</div>
	</div>

	<!-- visualization options -->
	<div class="accordion-tema accordion-tema-gray">
		<a class="accordion-head" href="" ng-click="panels.toggleAccordion('settings', 2)">Visualization</a>
		<div class="accordion-body" ng-show="panels.isAccordion('settings', 2)">

			<!-- default layout -->
			<p>
				<label for="default_layout">Default layout:</label>
				<select name="default_layout" id="default_layout" class="form-control" ng-model="settings.info.default_layout">
					<option value="grid">grid</option>
					<option value="circle">circle</option>
				</select>
			</p>

			<!-- node_threshold -->
			<div>
				<label for="node_thr">Node threshold: </label>
				<input class="form-control" id="node_thr" name="node_thr" type="number" ng-model="settings.info.node_thr" />
			</div>

		</div>
	</div>

	<!-- gene ontologies -->
	<div class="accordion-tema accordion-tema-gray">
		<a class="accordion-head" href="" ng-click="panels.toggleAccordion('settings', 3)">Gene Ontologies</a>
		<div class="accordion-body" ng-show="panels.isAccordion('settings', 3)">

			<table class="go-table">
				<tr>
					<th><label for="goa-input">GO annotations: </label></th>
					<th><label for="gob-input">GO basic: </label></th>
				</tr>
				<tr>
					<td>
						<div ng-if="!settings.is_go_ready('a')">
							<div class="alert alert-warning" style="margin-bottom: 2px;">default</div>
							<button class="btn btn-aqua btn-block h2-5em" ng-click="settings.upload_goa(m.session_id)">Upload GOA</button>
						</div>
						<div ng-if="settings.is_go_ready('a')">
							<div class="alert alert-success" style="margin-bottom: 2px;">GOA loaded.</div>
							<button class="btn btn-gold btn-block h2-5em" ng-click="settings.upload_goa(m.session_id)">Change GOA</button>
						</div>
						<input type="file" id="goa-input" name="goa-input" class='hidden-file-input' />
					</td>
					<td>
						<div ng-if="!settings.is_go_ready('b')">
							<div class="alert alert-warning" style="margin-bottom: 2px;">default</div>
							<button class="btn btn-aqua btn-block h2-5em" ng-click="settings.upload_gob(m.session_id)">Upload GOB</button>
						</div>
						<div ng-if="settings.is_go_ready('b')">
							<div class="alert alert-success" style="margin-bottom: 2px;">GOB loaded.</div>
							<button class="btn btn-gold btn-block h2-5em" ng-click="settings.upload_gob(m.session_id)">Change GOB</button>
						</div>
						<input type="file" id="gob-input" name="gob-input" class='hidden-file-input' />
					</td>
				</tr>
				<tr ng-if="settings.is_go_ready()">
					<td colspan="2">
						<button class="btn btn-block btn-aqua h2-5em" ng-click="settings.apply_go_mapper(m.session_id)">map GOs</button>
					</td>
				</tr>
			</table>

			<br />

			<div ng-click="settings.is_go_mapped(m.session_id)">
				<label for="go_status">Status: </label>
				<span class="text-success" ng-show="settings.info.go_status">ready</span>
				<span class="text-danger" ng-show="!settings.info.go_status">waiting</span>
			</div>

		</div>
	</div>

	<!-- session sharing -->
	<div class="accordion-tema accordion-tema-gray">
		<a class="accordion-head" href="" ng-click="panels.toggleAccordion('settings', 4)">Sharing</a>
		<div class="accordion-body" ng-show="panels.isAccordion('settings', 4)">

			<div ng-if="m.session_sys.inside.owner">
				<!-- sharing form -->
				<div class="input-group mbot05">
					<input class="form-control" type="text" placeholder="Insert a username to share this session" ng-model="m.tmpUsr_sharedWith" />
					<div class="btn btn-aqua input-group-addon" ng-click="settings.manage_share_with(m.session_id, m.tmpUsr_sharedWith, 'add')">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
				</div>
				<div ng-if="settings.info.shared_with.length != 0">
					<div class="alert alert-light-aqua mbot02" ng-repeat="usr in settings.info.shared_with">
						{{usr}} <a href="" ng-click="settings.manage_share_with(m.session_id, usr, 'rm')" class="float-right mrigh05"><span class="glyphicon glyphicon-trash"></span></a>
					</div>
				</div>
			</div>
			<div ng-if="!m.session_sys.inside.owner">Only the session <b>owner</b> can change the sharing options.</div>

		</div>
	</div>

	<!-- save_button -->
	<div class="accordion-tema">
		<div class="accordion-body" ng-if="!panels.isAccordion('settings', 0)">
			<button class="btn btn-apply fs1em btn-sm btn-sky h2-5em" ng-click="settings._apply(m.session_id)">apply</button>
		</div>
	</div>
</div>
