<div class="panel-heading">
<span ng-show="!networks.attributes.is_attr_doing()">
	Attributes
	<a href="#/interface/{{m.session_id}}" class="btn-panel text-success float-right" ng-click="networks.attributes.do_attr('add_new')" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
	<a href="#/interface/{{m.session_id}}" class="btn-panel text-success float-right" ng-click="networks.attributes.do_attr('combine')" title="Combine"><span class="glyphicon glyphicon-resize-small"></span></a>
</span>
<span ng-show="networks.attributes.is_attr_doing('add_new')">Add new attribute</span>
<span ng-show="networks.attributes.is_attr_doing('combine')">Combine attributes</span>
<span ng-show="networks.attributes.is_attr_doing('rename')">Rename attribute</span>
<span ng-show="networks.attributes.is_attr_doing('remove')">Remove attribute</span>
<span ng-show="networks.attributes.is_attr_doing('replace')">Replace attribute</span>
</div>
<div class="panel-body">
<!-- list -->
<div ng-if="!networks.attributes.is_attr_doing()">
	<h4>Node attributes:</h4>
	<div class="alert alert-sky" ng-repeat="attr in canvas.get_attributes('nodes')">
		{{attr}}
		<!-- overwrite -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Overwrite' ng-if="!canvas.is_attr_reserved('nodes', attr)" ng-click="networks.attributes.do_attr('overwrite'); networks.attributes.list.options.type='nodes'; networks.attributes.list.options.name=attr;"><span class="glyphicon glyphicon-import"></span></a>
		<!-- remove -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Remove' ng-if="!canvas.is_attr_reserved('nodes', attr)" ng-click="networks.attributes.attr_remove(canvas.current, m.session_id, attr, 'nodes')"><span class="glyphicon glyphicon-trash"></span></a>
		<!-- rename -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Rename' ng-if="!canvas.is_attr_reserved('nodes', attr)" ng-click="networks.attributes.attr_rename(canvas.current, m.session_id, attr, 'nodes')"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
	<hr style="margin-bottom: 2em;" />
	<h4>Edge attributes:</h4>
	<div class="alert alert-sky" ng-repeat="attr in canvas.get_attributes('edges')">
		{{attr}}
		<!-- overwrite -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Overwrite' ng-if="!canvas.is_attr_reserved('edges', attr)" ng-click="networks.attributes.do_attr('overwrite'); networks.attributes.list.options.type='edges'; networks.attributes.list.options.name=attr;"><span class="glyphicon glyphicon-import"></span></a>
		<!-- remove -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Remove' ng-if="!canvas.is_attr_reserved('edges', attr)" ng-click="networks.attributes.attr_remove(canvas.current, m.session_id, attr, 'edges')"><span class="glyphicon glyphicon-trash"></span></a>
		<!-- rename -->
		<a href="#/interface/{{m.session_id}}" class="attr-action float-right" title='Rename' ng-if="!canvas.is_attr_reserved('edges', attr)" ng-click="networks.attributes.attr_rename(canvas.current, m.session_id, attr, 'edges')"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
	<hr />
</div>
<!-- add_new -->
<div ng-show="networks.attributes.is_attr_doing('add_new')">
	
	<h4>
		Add <select name="attr_input" id="attr_input" ng-model="networks.attributes.list.options.input">
			<option value="">--</option>
			<option value="manual">manually</option>
			<option value="index">index as</option>
			<option value="ginfo">gene info as</option>
		</select> new 
		<select name="attr_type" id="attr_type" ng-model="networks.attributes.list.options.type">
			<option value="" ng-show="'manual' == networks.attributes.list.options.input">--</option>
			<option value="edges" ng-show="'manual' == networks.attributes.list.options.input">edge</option>
			<option value="nodes" ng-show="-1 != ['manual', 'index', 'ginfo'].indexOf(networks.attributes.list.options.input)" ng-selected="-1 != ['index', 'ginfo'].indexOf(networks.attributes.list.options.input)">node</option>
		</select>
		attribute.
	</h4>
	<p ng-show="-1 != ['manual', 'index'].indexOf(networks.attributes.list.options.input)">
		<label for="attr_name">GO attribute name: </label>
		<input class="form-control" type="text" id="attr_name" name="attr_name" ng-model="networks.attributes.list.options.name" />
	</p>
	<p ng-show="'manual' == networks.attributes.list.options.input">
		<label for="attr_values">Comma Separated Values:</label>
		<textarea class="form-control" name="attr_values" id="attr_values" cols="40" rows="10" ng-model="networks.attributes.list.options.values"></textarea>
	</p>
	<p ng-show="'index' == networks.attributes.list.options.input">
		<label for="index">Select index:</label>
		<select name="index" id="index" ng-model="networks.attributes.list.options.index">
			<option value="">--</option>
			<option value="degree">degree</option>
			<option value="indegree">indegree</option>
			<option value="outdegree">outdegree</option>
			<option value="betweenness">betweenness</option>
			<option value="closeness">closeness</option>
		</select>
	</p>
	<p ng-show="'ginfo' == networks.attributes.list.options.input">
		The following attributes will be added:
		<ul ng-show="'ginfo' == networks.attributes.list.options.input">
			<li>go: gene ontologies</li>
		</ul>
	</p>
	<p ng-show="'ginfo' == networks.attributes.list.options.input">
		<label for="hugo-containing-attr">Select the attribute containing the HUGO names.</label>
		<select name="hugo-containing-attr" class="form-control" id="hugo-containing-attr" ng-model="networks.attributes.list.options.hugo">
			<option value="">--</option>
			<option value="{{attr}}" ng-repeat="attr in canvas.get_attributes('nodes')">{{attr}}</option>
		</select>
	</p>

	<p class="alert alert-reddish" ng-repeat="msg in networks.attributes.list.options.errMsg">{{msg}}</p>

	<button class="btn abort-btn h2-5em btn-aqua" ng-click="networks.attributes.attr_apply(canvas.current, m.session_id, 'add_new')">apply</button> <button class="btn abort-btn h2-5em btn-reddish" ng-click="networks.attributes.do_attr(null)">abort</button>
</div>
<!-- combine -->
<div ng-show="networks.attributes.is_attr_doing('combine')">
	<h4>
		Combine 
		<select name="attr_type" id="attr_type" ng-model="networks.attributes.list.options.type">
			<option value="">--</option>
			<option value="edges">edge</option>
			<option value="nodes">node</option>
		</select>
		attributes.
	</h4>
	<hr>
	<p>
		<label for="attr_name">New attribute name: </label>
		<input class="form-control" type="text" id="attr_name" name="attr_name" ng-model="networks.attributes.list.options.name" />
	</p>
	<hr>
	<div ng-show="null != networks.attributes.list.options.type">
		<h4>Select the attributes that you want to combine:</h4>
		<label class="attr-list alert" ng-class="{'alert-sky' : !networks.attributes.list[networks.attributes.list.options.type][attr], 'alert-aqua' : networks.attributes.list[networks.attributes.list.options.type][attr]}" for="attr-{{attr}}" ng-repeat="attr in canvas.get_attributes(networks.attributes.list.options.type)">
			<input type="checkbox" id="attr-{{attr}}" name="attr-{{attr}}" ng-model="networks.attributes.list[networks.attributes.list.options.type][attr]"> {{attr}}
		</label>
	</div>
	<hr>
	<div ng-show="networks.attributes.attr_selected()">
		<h4>Write a function in R code:</h4>
		<textarea class="form-control" name="attr_function" id="attr_function" cols="40" rows="5" ng-model="networks.attributes.list.options.function" placeholder="_0_*log(_1_)"></textarea>
		<h4>In the function use the attributes as follows:</h4>
		<ul>
			<li ng-repeat="attr in networks.attributes.attr_get_selected()"><code>{{attr}}</code> as <code>_{{$index}}_</code></li>
		</ul>
	</div>

	<p class="alert alert-reddish" ng-repeat="msg in networks.attributes.list.options.errMsg">{{msg}}</p>

	<button class="btn abort-btn btn-aqua h2-5em" ng-click="networks.attributes.attr_apply(canvas.current, m.session_id, 'combine')">apply</button> <button class="btn abort-btn btn-reddish h2-5em" ng-click="networks.attributes.do_attr(null)">abort</button>
</div>
<!-- overwrite -->
<div ng-show="networks.attributes.is_attr_doing('overwrite')">
	
	<h4>
		Owerwrite <select name="attr_input" id="attr_input" ng-model="networks.attributes.list.options.input">
			<option value="">--</option>
			<option value="manual">manually</option>
			<option value="index" ng-show="'nodes' == networks.attributes.list.options.type">with index</option>
		</select>.
	</h4>
	<p ng-show="'manual' == networks.attributes.list.options.input">
		<label for="attr_values">Comma Separated Values:</label>
		<textarea class="form-control" name="attr_values" id="attr_values" cols="40" rows="10" ng-model="networks.attributes.list.options.values"></textarea>
	</p>
	<p ng-show="'index' == networks.attributes.list.options.input">
		<label for="index">Select index:</label>
		<select name="index" id="index" ng-model="networks.attributes.list.options.index">
			<option value="">--</option>
			<option value="degree">degree</option>
			<option value="indegree">indegree</option>
			<option value="outdegree">outdegree/option>
			<option value="betweenness">betweenness</option>
			<option value="closeness">closeness</option>
		</select>
	</p>

	<p class="alert alert-reddish" ng-repeat="msg in networks.attributes.list.options.errMsg">{{msg}}</p>

	<button class="btn abort-btn btn-aqua h2-5em" ng-click="networks.attributes.attr_apply(canvas.current, m.session_id, 'add_new')">apply</button> <button class="btn abort-btn btn-reddish h2-5em" ng-click="networks.attributes.do_attr(null)">abort</button>
</div>

<p class="footnote">
	All the changes applied to the attributes are applied only
	to the current visualization and are not saved on the server.
	To do so, please use the <u><i>overwrite</i></u> or the <u><i>save</i></u> functions.
</p>
</div>
