html, body {
	margin: 0;
	padding: 0;
	width: 100%;

	background-color: #f0f0f0;
}

#canvas {
	margin: 0 auto;
	margin-top: 100px;
	width: 1200px;
	border: 1px solid black;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

