<!-- import url-specific style -->
<style type="text/css">@import "user_side/src/common/css/interface.css";</style>

<!-- url-specific template -->
<div id='interface' ng-app='tea' ng-controller='interfaceController as iCtrl' ng-model='iCtrl'>

	<!-- actual interface -->
	<div ng-if="!m.session_error" ng-show="!m.uploading">

		<!-- left bar -->
		<div id='left-bar' ng-include="'user_side/src/app/mods/interface/frags/left_bar.tpl.html'"></div>
		
		<!-- left bar panels -->
		<div class='left-panel-wrap'>

			<!-- networks list -->
			<div class='left-panel graph-list-panel panel panel-aqua' ng-show='panels.show.graph_list'
				ng-include="'user_side/src/app/mods/interface/frags/left.graph_list.tpl.html'"></div>
			<!-- attributes panel -->
			<div class='left-panel attributes-panel panel panel-aqua' ng-show='panels.show.attributes'
				ng-include="'user_side/src/app/mods/interface/frags/left.attributes.tpl.html'"></div>
			<!-- operation panel -->
			<div class='left-panel operations-panel panel panel-reddish' ng-show='panels.show.operations'
				ng-include="'user_side/src/app/mods/interface/frags/left.operations.tpl.html'"></div>
			<!-- filter panel -->
			<div class='left-panel filter-panel panel panel-sky' ng-show='panels.show.filter'
				ng-include="'user_side/src/app/mods/interface/frags/left.filter.tpl.html'"></div>
			<!-- navigation panel -->
			<div class='left-panel navigate-panel panel panel-sky' ng-show='panels.show.navigate'
				ng-include="'user_side/src/app/mods/interface/frags/left.navigate.tpl.html'"></div>
			<!-- layout panel -->
			<div class='left-panel layout-panel panel panel-gold' ng-show='panels.show.layout'
				ng-include="'user_side/src/app/mods/interface/frags/left.layout.tpl.html'"></div>
			<!-- style panel -->
			<div class='left-panel style-panel panel panel-gold' ng-show='panels.show.style'
				ng-include="'user_side/src/app/mods/interface/frags/left.style.tpl.html'"></div>
			<!-- settings panel -->
			<div class='left-panel settings-panel panel panel-gray' ng-show='panels.show.settings'
				ng-include="'user_side/src/app/mods/interface/frags/left.settings.tpl.html'"></div>

		</div>

		<!-- bottom bar -->
		<div id='bottom-bar' ng-include="'user_side/src/app/mods/interface/frags/bottom_bar.tpl.html'"></div>

		<!-- visualization canvas -->
		<div id="canvas" ng-click='panels.closeAll();'>
			<div id="loaded-network-spy">{{canvas.current_data.name}}</div>
		</div>

	</div>

	<!-- uploader -->
	<div ng-if="!m.session_error" ng-show="m.uploading" ng-include="'user_side/src/app/mods/uploader/tpl.html'"></div>

	<!-- password form for protected sessions -->
	<div class="password-protection jumbotron" ng-if="m.session_protected"
		ng-include="'user_side/src/app/mods/interface/frags/password_protected.tpl.html'"></div>
	<!-- 'CANNOT ACCESS' warning -->
	<div class="cannot-access jumbotron" ng-if="m.session_error && !m.session_protected"
		ng-include="'user_side/src/app/mods/interface/frags/restricted.tpl.html'"></div>
</div>
