<!-- import url-specific style -->
<style type="text/css">@import "/public_html/SOGIv020/user_side/src/common/css/interface.css";</style>

<!-- url-specific template -->
<div id='interface' ng-app='sogi' ng-controller='interfaceController as iCtrl' ng-model='iCtrl'>

	<div id='left-bar'>

		<a class="title" href='#/'>SOGI</a>
		<span class="btn btn-primary btn-circle" ng-click="panels.toggle('graph_list')" ng-class="{'open' : panels.show.graph_list}" title="Network list">
			<span class="glyphicon glyphicon-th-list"></span>
		</span>
		<span class="btn btn-danger btn-circle" ng-click="panels.toggle('operations')" ng-class="{'open' : panels.show.operations}" title="Operations">
			<span class="glyphicon glyphicon-pencil"></span>
		</span>
		<span class="btn btn-warning btn-circle" ng-click="panels.toggle('layout')" ng-class="{'open' : panels.show.layout}" title="Layout">
			<span class="glyphicon glyphicon-th"></span>
		</span>
		<span class="btn btn-warning btn-circle" ng-click="panels.toggle('style')" ng-class="{'open' : panels.show.style}" title="Style">
			<span class="glyphicon glyphicon-adjust"></span>
		</span>
		<span class="btn btn-success btn-circle" ng-click="panels.toggle('select')" ng-class="{'open' : panels.show.select}" title="Select">
			<span class="glyphicon glyphicon-check"></span>
		</span>
		<span class="btn btn-default btn-circle" ng-click="panels.toggle('settings')" ng-class="{'open' : panels.show.settings}" title="Settings">
			<span class="glyphicon glyphicon-cog"></span>
		</span>
		<a href="#/help" class="btn btn-info btn-circle" title="Help">
			<span class="glyphicon glyphicon-heart-empty"></span>
		</a>

	</div>

	<div class='left-panel-wrap'>

		<div class='left-panel graph-list-panel panel panel-primary' ng-show='panels.show.graph_list'>
			<div class="panel-heading">
				Network list
				<a href='#/upload/{{m.session_id}}' class="glyphicon glyphicon-cloud-upload float-right"></a>
			</div>
			<div class="panel-body">
				
				<div class="alert" ng-show='networks.list != null' ng-repeat='net in networks.list' ng-class="{'alert-info' : networks.isConverted(net), 'alert-danger' : !networks.isConverted(net)}">
					<a href="" ng-class="{'text-danger' : !networks.isConverted(net)}" ng-click="networks.init_file(net)" title="N: {{net.data.v_count}} | E: {{net.data.e_count}}">{{net.name}} <span class="glyphicon glyphicon-flag" ng-show="!networks.isConverted(net)"> </span></a>

					<a href="" ng-class="{'text-danger' : !networks.isConverted(net)}" class="net-action float-right" title='Remove' ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
					<a href="" ng-class="{'text-danger' : !networks.isConverted(net)}" class="net-action float-right" title='Rename' ng-click=""><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="" ng-class="{'text-danger' : !networks.isConverted(net)}" class="net-action float-right" title='Download' ng-click=""><span class="glyphicon glyphicon-cloud-download"></span></a>
					<a href="" ng-class="{'text-danger' : !networks.isConverted(net)}" class="net-action float-right" title='Inspect' ng-click=""><span class="glyphicon glyphicon-search"></span></a>
				</div>

				<p ng-show='networks.list == null'>
					<i>You have not uploaded any network yet...</i><br />
					Visit the <a href="#/upload/{{m.session_id}}">uploader</a>!
				</p>

			</div>
		</div>

		<div class='left-panel operations-panel panel panel-danger' ng-show='panels.show.operations'>
			<div class="panel-heading">Operations</div>
			<div class="panel-body">

				<div class="btn operation-btn btn-danger btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('merge')">
					Merge networks
				</div>
				<div class="panel operation-panel panel-danger" ng-show="commander.is_operation('merge')">
					<div class="panel-heading">Merge networks</div>
					<div class="panel-body">
						<p>
							Select the networks to merge them!
						</p>

						<p>
							<span class="single-network-select" ng-repeat="net in networks.list">
								<input id="check-{{net.id}}" name="check-{{net.id}}" type="checkbox" ng-model="commander.operation.selected[net.id]"> <label for="check-{{net.id}}">{{net.name}}</label>
							</span>
						</p>

						<button class="btn end-btn btn-success" ng-click='commander.merge()'>merge</button><button class="btn end-btn btn-danger" ng-click='commander.abort_operation()'>abort</button>
					</div>
				</div>

				<div class="btn operation-btn btn-danger btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('intersect')">
					Intersect networks
				</div>
				<div class="panel operation-panel panel-danger" ng-show="commander.is_operation('intersect')">
					<div class="panel-heading">Intersect networks</div>
					<div class="panel-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit assumenda corporis officia reiciendis, possimus delectus laboriosam, magnam obcaecati enim. Dolorum autem animi, culpa fugiat eveniet expedita ad aut commodi beatae?
						<button class="btn end-btn btn-danger" ng-click='commander.abort_operation()'>abort</button>
					</div>
				</div>

				<div class="btn operation-btn btn-danger btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('subtract')">
					Subtract networks
				</div>
				<div class="panel operation-panel panel-danger" ng-show="commander.is_operation('subtract')">
					<div class="panel-heading">Subtract networks</div>
					<div class="panel-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit assumenda corporis officia reiciendis, possimus delectus laboriosam, magnam obcaecati enim. Dolorum autem animi, culpa fugiat eveniet expedita ad aut commodi beatae?
						<button class="btn end-btn btn-danger" ng-click='commander.abort_operation()'>abort</button>
					</div>
				</div>

				<div class="btn operation-btn btn-info btn-block" ng-show="!commander.operation.status" ng-click="commander.init_operation('contains')">
					is Subnetwork
				</div>
				<div class="panel operation-panel panel-info" ng-show="commander.is_operation('contains')">
					<div class="panel-heading">is Subnetwork</div>
					<div class="panel-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit assumenda corporis officia reiciendis, possimus delectus laboriosam, magnam obcaecati enim. Dolorum autem animi, culpa fugiat eveniet expedita ad aut commodi beatae?
						<button class="btn end-btn btn-danger" ng-click='commander.abort_operation()'>abort</button>
					</div>
				</div>
			</div>
		</div>

		<div class='left-panel layout-panel panel panel-warning' ng-show='panels.show.layout'>
			<div class="panel-heading">Layout</div>
			<div class="panel-body">
				
				<button type="button" class="btn btn-warning btn-md" ng-click="canvas.layout({name:'circle'})" >
					<span class="glyphicon glyphicon-repeat"></span>
				</button>
				<button type="button" class="btn btn-warning btn-md" ng-click="canvas.layout({name:'grid'})">
					<span class="glyphicon glyphicon-th"></span>
				</button>
				<button type="button" class="btn btn-warning btn-md" ng-click="canvas.layout({name:'breadthfirst'})">
					<span class="glyphicon glyphicon-tree-deciduous"></span>
				</button>
				<button type="button" class="btn btn-warning btn-md" ng-click="canvas.layout({name:'random'})">
					<span class="glyphicon glyphicon-asterisk"></span>
				</button>
				<button type="button" class="btn btn-danger btn-md" ng-click="canvas.center()">
					<span class="glyphicon glyphicon-screenshot"></span>
				</button>

			</div>
		</div>

		<div class='left-panel style-panel panel panel-warning' ng-show='panels.show.style'>
			<div class="panel-heading">Style</div>
			<div class="panel-body">
				...
			</div>
		</div>

		<div class='left-panel select-panel panel panel-success' ng-show='panels.show.select'>
			<div class="panel-heading">Select</div>
			<div class="panel-body">
				...
			</div>
		</div>

		<div class='left-panel settings-panel panel panel-default' ng-show='panels.show.settings'>
			<div class="panel-heading">Settings</div>
			<div class="panel-body">

				<h4>Sample Info File</h4>

				<!-- SIF -->
				<div ng-show="!settings.is_sif_ready()">
					<button class="btn btn-default" ng-click="settings.upload_sif(m.session_id)">Upload SIF</button>
					<input type="file" id="sif-input" class='hidden-file-input' />
				</div>

				<div ng-show="settings.is_sif_ready()">
					SIF sample column:
					<select name="" id="" ng-model="settings.info.sif_sample_col">
						<option value="">Select a column</option>
						<option value="{{k}}" ng-repeat="k in settings.info.sif_keys" ng-selected="settings.is_sif_sample_col(k)">{{k}}</option>
					</select>
				</div>

				<hr />

				<h4>Visualization</h4>

				<!-- node_threshold -->
				<div>
					<label for="node_thr">Node threshold: </label>
					<input id="node_thr" name="node_thr" type="number" ng-model="settings.info.node_thr" />
				</div>

				<hr />

				<h4>Gene Ontologies</h4>

				<!-- GO files -->
				<div>
					<label for="goa-input">GO basic: </label>
					<button class="btn btn-default btn-block" ng-click="settings.upload_goa(m.session_id)" ng-show="!settings.is_goa_ready()">Upload GOA</button>
					<div ng-show="settings.is_goa_ready()">
						<span>{{settings.info.goa}}</span>
						<button class="btn btn-default btn-block" ng-click="settings.upload_goa(m.session_id)">Change GOA</button>
					</div>
					<input type="file" id="goa-input" name="goa-input" class='hidden-file-input' />
				</div>

				<br />

				<div>
					<label for="gob-input">GO annotations: </label>
					<button class="btn btn-default btn-block" ng-click="settings.upload_gob(session_id)" ng-show="!settings.is_gob_ready()">Upload GOB</button>
					<div ng-show="settings.is_gob_ready()">
						<span>{{settings.info.gob}}</span>
						<button class="btn btn-default btn-block" ng-click="settings.upload_gob(session_id)">Change GOB</button>
					</div>
					<input type="file" id="gob-input" name="gob-input" class='hidden-file-input' />
				</div>

				<br />

				<div>
					<label for="go_status">Status: </label>
					<span class="text-success" ng-show="settings.info.go_status">ready</span>
					<span class="text-danger" ng-show="!settings.info.go_status">wating</span>
				</div>

				<hr />

				<!-- save_button -->
				<button class="btn btn-apply btn-sm btn-success" ng-click="settings._apply(m.session_id)">apply</button>
			</div>
		</div>

	</div>

	<div id='bottom-bar' ng-click='panels.closeAll()'>
		<div class="col-md-12 wrap">

			<div id="console" class='col-md-5'>
				<input type='text' class='terminal' /><button class='btn btn-info'><span class="glyphicon glyphicon-forward"></span></button>
			</div>
			
			<div id="inspector" class="col-md-3 col-md-offset-2 panel panel-info" ng-show='inspector.show'>
				<div class="panel-heading">Inspector</div>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>

	<div id="canvas" ng-click='panels.closeAll();'>
		
	</div>

</div>
