<!-- import url-specific style -->
<style type="text/css">@import "user_side/src/common/css/homepage.css";</style>

<!-- url-specific template -->
<div id='homepage' class='col-md-8 col-md-offset-2' ng-app='tea' ng-controller='homepageController as hCtrl' ng-model='hCtrl'>

	<div class="title col-md-12">
		<p>TEMA</p>
		<small>Tumor Evolution Manager and Analyzer</small>
	</div>

	<div class="session-choice panel panel-default col-md-12">

		<div class="panel-heading">
			Welcome to TEMA!
		</div>

		<div class="panel-body">

			<div class="col-md-6">
				<button class="cell btn btn-aqua small-caps btn-mbot" ng-click=''>sign in</button>
			</div>

			<div class="col-md-6">
				<button class="cell btn btn-light-aqua small-caps btn-mbot" ng-click=''>sign up</button>
			</div>

			<div class="col-md-12">
				<button class="cell btn btn-reddish small-caps" ng-click=''>enter a <u>public</u> session</button>
			</div>

		</div>

	</div>

	<div class='load-error alert alert-danger col-md-10 col-md-offset-1' ng-show='m.tmpErr == 3'>impossible to load session &lt; <b>{{m.tmpID}}</b> &gt;</div>

</div>
