<!-- url-specific template -->
<div id='guestpage' class='col-md-8 col-md-offset-2' ng-app='tea' ng-controller='guestpageController as gpCtrl' ng-model='gpCtrl'>

	<div class="title col-md-12">
		<p>TEMA</p>
		<small>Tumor Evolution Manager and Analyzer</small>
	</div>

	<!-- choice-menu -->
	<div class="session-choice panel panel-default col-md-12" ng-if="!up.isSigning() && !in.isSigning() && !load.isDoing()">
		<div class="panel-heading">Welcome to TEMA!</div>
		<div class="panel-body">

			<div class="col-md-6">
				<button class="cell btn btn-aqua small-caps mbot05" ng-click='in.setSigning(true)'>sign in</button>
			</div>

			<div class="col-md-6">
				<button class="cell btn btn-light-aqua small-caps mbot05" ng-click='up.setSigning(true)'>sign up</button>
			</div>

			<div class="col-md-12">
				<button class="cell btn btn-reddish small-caps" ng-click='load.setDoing(true)'>enter a <u>public</u> session</button>
			</div>

		</div>
	</div>

	<!-- sign-up-form -->
	<div class="selected-form panel panel-default col-md-12" ng-if="up.isSigning()" ng-class="{'panel-success':up.isError(0)}">
		<div class="panel-heading">Sign up for a new user</div>
		<div class="panel-body" ng-if="!up.isError(0)">

			<form action="" role="form">
				<div class="col-md-12 text-align-right note"><small ng-class="{'text-danger':m.logsys.up.err.usr}">
					Use at least four characters (case-insensitive).
				</small></div><br />
				<div class="mbot05 col-md-12 input-group" ng-class="{'has-error':m.logsys.up.err.usr||up.isError(4)}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input class="form-control" type="text" placeholder="Pick a username" name="username" id="username" ng-model="m.logsys.up.usr" ng-disable="up.isRunning()" />
				</div>
				
				<div class="mbot05 col-md-12 input-group" ng-class="{'has-error':m.logsys.up.err.email||up.isError(5)}">
				<span class="input-group-addon">@</span>
					<input class="form-control" type="text" placeholder="Your email" name="email" id="email" ng-model="m.logsys.up.email" ng-disable="up.isRunning()" />
				</div>

				<div class="col-md-12 input-group" ng-class="{'has-error':m.logsys.up.err.pwd}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<input class="form-control" type="password" placeholder="Provide a password" ng-model="m.logsys.up.pwd" ng-disable="up.isRunning()" />
				</div>
				<div class="mbot05 col-md-12 text-align-right note"><small ng-class="{'text-danger':m.logsys.up.err.pwd}">
					Use at least one lowercase letter, one uppercase letter, one digit, and eight characters.
				</small></div>

				<div><input class="mbot05 form-control hidden-file-input" type="email" id="hatch" name="hatch" ng-model="m.logsys.up.hatch"></div>

				<p class="text-danger">
					<span ng-if="up.isError(3)">Something is wrong with the provided credentials.</span>
					<span ng-if="up.isError(4)">Username already in use, pick another one!</span>
					<span ng-if="up.isError(5)">Email already in use, have you already signed up?</span>
					<span ng-if="up.isError(6)">Something went wrong, try again later.</span>
				</p>

				<a ng-click="up.setSigning(false)" class="float-right mrig07 btn btn-reddish small-caps" ng-disable="up.isRunning()">back</a>
				<a ng-click="up.sign()" class="float-right mrig07 btn btn-aqua small-caps" ng-disable="up.isRunning()">sign up</a>
			</form>		

		</div>

		<div class="panel-body" ng-if="up.isError(0)">
			<span class="text-success">
				<h2>
					User "{{m.logsys.up.usr}}" has been created.<br />
					We just sent you an <b>email</b> with further instructions<br />
					on how to <b>activate</b> your brand new account!
				</h2>
				<a ng-click="up.setSigning(false)" class="float-right mrig07 btn btn-light-aqua small-caps">back</a>
			</span>
		</div>
	</div>

	<!-- sign-in-form -->
	<div class="selected-form panel panel-default col-md-12" ng-if="in.isSigning()" ng-class="{'panel-success':in.isError(0)}">
		<div class="panel-heading" ng-if="!in.isError(0)">Sign in with your username and password</div>
		<div class="panel-heading" ng-if="in.isError(0)">Signing in</div>
		<div class="panel-body" ng-if="!in.isError(0)">

			<form action="" role="form">
				<div class="mbot05 col-md-12 input-group" ng-class="{'has-error':in.isError(3)||in.isError(4)}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input class="form-control" type="text" placeholder="Your username or email" name="username" id="username" ng-model="m.logsys.in.usr" />
				</div>
				<div class="mbot05 col-md-12 input-group" ng-class="{'has-error':in.isError(3)||in.isError(4)}">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<input class="form-control" type="password" placeholder="Your password" ng-model="m.logsys.in.pwd" />
				</div>

				<div><input class="mbot05 form-control hidden-file-input" type="email" id="hatch" name="hatch" ng-model="m.logsys.in.hatch"></div>

				<p class="text-danger">
					<span ng-if="in.isError(3)||in.isError(4)">Something is wrong with the provided credentials.</span>
				</p>

				<a href="#" ng-click="in.setSigning(false)" class="float-right mrig07 btn btn-reddish small-caps">back</a>
				<a ng-click="" onclick="javascript:alert('TODO')" class="float-right mrig07 btn btn-light-aqua small-caps">recover</a><!-- show forgot-password form -->
				<a ng-click="in.sign()" class="float-right mrig07 btn btn-aqua small-caps">sign in</a><!-- trigger user login -->
			</form>		

		</div>

		<div class="panel-body" ng-if="in.isError(0)">
			<center>
				<h2 class="text-success">Hey {{m.logsys.in.usr}}, welcome back!</h2>
				<small>Always remember that if you refresh the page (F5, Ctrl+R, ...) you might end up on the homepage!</small>
			</center>
		</div>
	</div>

	<!-- load-public-session -->
	<div class="selected-form panel panel-default col-md-12" ng-if="load.isDoing()">
		<div class="panel-heading">Load a public session!</div>
		<div class="panel-body">

			<form action="" role="form">
				<div class="mbot05 col-md-12 input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
					<input class="form-control" type="text" placeholder="Insert the public session token (e.g.: 1423645674753cae649e)" name="token" id="token" ng-model="m.logsys.load.token" />
				</div>

				<div><input class="mbot05 form-control hidden-file-input" type="email" id="hatch" name="hatch" ng-model="m.logsys.load.hatch"></div>

				<a href="#" ng-click="load.setDoing(false)" class="float-right mrig07 btn btn-reddish small-caps">back</a>
				<a ng-click="load.do()" class="float-right mrig07 btn btn-aqua small-caps">load</a>
			</form>		

		</div>
	</div>

</div>
