@font-face {
	font-family: optimus;
	src: url('fonts/optimus.ttf');
}

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	overflow: hidden;

	background-color: #f0f0f0;

	font-size: 16px;
}

.console {
  font-family: monospace;
  font-size: 0.6em;
}

.text-danger {
  color: #C4221C;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
a
{
    outline:0px !important;
    -webkit-appearance:none;
}